interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&grant_type=refresh_token
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {code: UR_10006, httpStatusCode: 401, id: 423ebd7f-fbd5-4a73-99a5-061b79eff5d9,
        message: error_unauthorised, validationErrors: null}
      string: '{"id": "423ebd7f-fbd5-4a73-99a5-061b79eff5d9", "code": "UR_10006",
        "message": "error_unauthorised", "httpStatusCode": 401, "validationErrors":
        null}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 400, message: Bad Request}
version: 1
