interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&username=REDACTED&password=REDACTED&grant_type=password
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body: {string: "<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access\
        \ Denied</H1>\n \nYou don't have permission to access \"http&#58;&#47;&#47;www&#46;nflgamepass&#46;com&#47;api&#47;user&#47;oauth&#47;token\"\
        \ on this server.<P>\nReference&#32;&#35;18&#46;75b51002&#46;1541087436&#46;101833e\n\
        </BODY>\n</HTML>\n"}
    headers:
      Content-Type: [text/html]
      Mime-Version: ['1.0']
    status: {code: 403, message: Forbidden}
- request:
    body: apiKey=3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp&loginID=REDACTED&includeUserInfo=false&password=REDACTED
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.us1.gigya.com/accounts.login
  response:
    body:
      pretty:
        UID: 8caecb9d8857dc3fd9c7b2ce9fcc5368
        UIDSignature: u6LhT07ykou3RzaVluMycFvpzTg=
        apiVersion: 2
        callId: 163ca97fb9e14f488ff088f8d324809c
        created: '2012-08-04T11:20:09.000Z'
        createdTimestamp: 1344079209
        errorCode: 0
        isActive: true
        isRegistered: true
        isVerified: true
        lastLogin: '2018-11-01T15:50:36.908Z'
        lastLoginTimestamp: 1541087436
        lastUpdated: '2018-09-04T06:49:25.683Z'
        lastUpdatedTimestamp: 1536043765683
        loginProvider: site
        newUser: false
        oldestDataUpdated: '2012-08-04T11:20:09.000Z'
        oldestDataUpdatedTimestamp: 1344079209000
        profile: REDACTED
        registered: '2018-03-02T04:03:59.927Z'
        registeredTimestamp: 1519963439
        sessionInfo: {cookieName: gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp,
          cookieValue: st2.Tg3ASVGg_E_c8D_Nf_k-OxPqPOk.Zvyb4VKTX4Aen2q22cCMEg.e9xHpWpuvu_FG6zznXU1Yo5hMTg}
        signatureTimestamp: '1541087436'
        socialProviders: site
        statusCode: 200
        statusReason: OK
        time: '2018-11-01T15:50:36.939Z'
        verified: '2018-03-02T04:03:59.786Z'
        verifiedTimestamp: 1519963439786
      string: '{"callId": "163ca97fb9e14f488ff088f8d324809c", "errorCode": 0, "apiVersion":
        2, "statusCode": 200, "statusReason": "OK", "time": "2018-11-01T15:50:36.939Z",
        "registeredTimestamp": 1519963439, "UID": "8caecb9d8857dc3fd9c7b2ce9fcc5368",
        "UIDSignature": "u6LhT07ykou3RzaVluMycFvpzTg=", "signatureTimestamp": "1541087436",
        "created": "2012-08-04T11:20:09.000Z", "createdTimestamp": 1344079209, "isActive":
        true, "isRegistered": true, "isVerified": true, "lastLogin": "2018-11-01T15:50:36.908Z",
        "lastLoginTimestamp": 1541087436, "lastUpdated": "2018-09-04T06:49:25.683Z",
        "lastUpdatedTimestamp": 1536043765683, "loginProvider": "site", "oldestDataUpdated":
        "2012-08-04T11:20:09.000Z", "oldestDataUpdatedTimestamp": 1344079209000, "profile":
        "REDACTED", "registered": "2018-03-02T04:03:59.927Z", "socialProviders": "site",
        "verified": "2018-03-02T04:03:59.786Z", "verifiedTimestamp": 1519963439786,
        "newUser": false, "sessionInfo": {"cookieName": "gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp",
        "cookieValue": "st2.Tg3ASVGg_E_c8D_Nf_k-OxPqPOk.Zvyb4VKTX4Aen2q22cCMEg.e9xHpWpuvu_FG6zznXU1Yo5hMTg"}}'
    headers:
      Content-Type: [text/javascript; charset=utf-8]
      X-CallID: [163ca97fb9e14f488ff088f8d324809c]
      X-Gigya-HA-cfg-ver: ['5']
      X-Server: [us1d-nomad-g11]
      X-Soa: ['true, Gator']
    status: {code: 200, message: OK}
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&uuid=8caecb9d8857dc3fd9c7b2ce9fcc5368&signature=u6LhT07ykou3RzaVluMycFvpzTg%3D&ts=1541087436&device_type=web&username=REDACTED&grant_type=shield_authentication
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_9733c05cd5e60bf323a2e26f06e4d635114674f14f7bc6b19e148521d81db610,
        expires_in: 3539, refresh_token: FAKE_TOKEN_47c9af02a83ac6b7b56ce491abf81f42cea5c6214d0d5adabe52a2b0336096f7,
        token_type: bearer}
      string: '{"access_token": "FAKE_TOKEN_9733c05cd5e60bf323a2e26f06e4d635114674f14f7bc6b19e148521d81db610",
        "token_type": "bearer", "expires_in": 3539, "refresh_token": "FAKE_TOKEN_47c9af02a83ac6b7b56ce491abf81f42cea5c6214d0d5adabe52a2b0336096f7"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
