interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&device_type=web
    headers:
      Authorization: [REDACTED]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/api/users/v1/identity/logout
  response:
    body: {pretty: null, string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [REDACTED]
    method: GET
    uri: https://www.nflgamepass.com/api/user/api/users/v1/subscription/myaccount
  response:
    body:
      pretty: {code: UR_10006, httpStatusCode: 401, id: 95f64e9e-84aa-4e6a-8fc7-7250e7a87dc6,
        message: error_unauthorised, validationErrors: null}
      string: '{"id": "95f64e9e-84aa-4e6a-8fc7-7250e7a87dc6", "code": "UR_10006",
        "message": "error_unauthorised", "httpStatusCode": 401, "validationErrors":
        null}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      WWW-Authenticate: [Bearer]
    status: {code: 401, message: Unauthorized}
version: 1
