interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&username=I_do_not_exist&password=wrong&grant_type=password
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {code: UR_10006, httpStatusCode: 401, id: d2fe559b-5b10-4fbc-9cfc-00146995fdf9,
        message: error_unauthorised, validationErrors: null}
      string: '{"id": "d2fe559b-5b10-4fbc-9cfc-00146995fdf9", "code": "UR_10006",
        "message": "error_unauthorised", "httpStatusCode": 401, "validationErrors":
        null}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 400, message: Bad Request}
- request:
    body: apiKey=3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp&loginID=I_do_not_exist&includeUserInfo=false&password=wrong
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.us1.gigya.com/accounts.login
  response:
    body:
      pretty: {apiVersion: 2, callId: 297c5e2a1dbf4492967459e9c03ac4a5, errorCode: 403042,
        errorDetails: invalid loginID or password, errorMessage: Invalid LoginID,
        statusCode: 403, statusReason: Forbidden, time: '2018-10-02T07:22:25.505Z'}
      string: '{"callId": "297c5e2a1dbf4492967459e9c03ac4a5", "errorCode": 403042,
        "errorDetails": "invalid loginID or password", "errorMessage": "Invalid LoginID",
        "apiVersion": 2, "statusCode": 403, "statusReason": "Forbidden", "time": "2018-10-02T07:22:25.505Z"}'
    headers:
      Content-Type: [text/javascript; charset=utf-8]
      X-CallID: [297c5e2a1dbf4492967459e9c03ac4a5]
      X-Gigya-HA-cfg-ver: ['5']
      X-Server: [us1d-nomad-g34]
      X-Soa: ['true, Gator']
    status: {code: 200, message: OK}
version: 1
