interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/redzone/videos
  response:
    body:
      pretty:
        header: {id: red-zone-videos, lastUpdate: '2018-10-16T09:38:05.216Z', title: '',
          version: '1'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:nfl redzone:nfl redzone:landing', site_name: gamepass
              international, site_section: nfl redzone, site_subsection: nfl redzone}
          notLoggedTeaser:
            contentDate: '2017-08-02T11:09:37.165Z'
            fields: {}
            headline: null
            parts:
            - content: '<p>Catch every touchdown, live every Sunday with NFL RedZone.</p>

                '
              contextualFields: {}
              type: markdown
            references: {}
            relations: []
            slug: nfl-redzone-mobile
            summary: '<p>Catch every touchdown, live every Sunday with NFL RedZone.</p>

              '
            tags:
            - extraData: {}
              fields: {}
              neutralSlug: redzone-heromodule-not-logged
              slug: redzone-heromodule-not-logged
              title: redzone-heromodule-not-logged
              type: tag
            thumbnail:
              format: jpg
              overriddenFormats: {}
              templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/r9ek0rlaiu0ppulbkzw1
              thumbnailUrl: https://nflgp-prd.akamaized.net/api/images/image/private/w_250,h_250,c_thumb,g_auto,q_auto,f_jpg/r9ek0rlaiu0ppulbkzw1
              title: NFL_Redzone_2048x1024_noLogo
            title: NFL REDZONE
            type: story
          redZoneLive:
            content: []
            texts: {subTitle: videos-list-subtitle, title: videos-list-title}
          redZoneVod:
            content:
            - description: '<p>Redzone</p>

                '
              isBasic: false
              isGameOfTheWeek: false
              kind: Red Zone video
              nflprogram: null
              nflprogramcode: null
              scheduleDate: '2018-10-14 16:55:00Z'
              season: season-2018
              seasonType: seasontype-reg
              slug: week-6
              title: WEEK 6
              trimmedVideoDuration: ''
              videoDuration: '24726.698'
              videoId: 03c50687-330f-4a20-ad4a-0381e79428fa
              videoStatus: ONDEMAND
              videoThumbnail:
                overridenFormats: {}
                templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/r9ek0rlaiu0ppulbkzw1
              vocGameTopTag: null
              week: week-6
            - description: '<p>Redzone</p>

                '
              isBasic: false
              isGameOfTheWeek: false
              kind: Red Zone video
              nflprogram: null
              nflprogramcode: null
              scheduleDate: '2018-10-07 16:55:00Z'
              season: season-2018
              seasonType: seasontype-reg
              slug: week-5
              title: WEEK 5
              trimmedVideoDuration: ''
              videoDuration: '25951.936'
  [...]
[...]
