interactions:
- request:
    body: null
    headers:
      Authorization: [REDACTED]
    method: GET
    uri: https://www.nflgamepass.com/api/user/api/users/v1/subscription/myaccount
  response:
    body:
      pretty: {code: UR_10006, httpStatusCode: 401, id: 9241dd6a-168a-47e3-be88-9667eba38ae2,
        message: error_unauthorised, validationErrors: null}
      string: '{"id": "9241dd6a-168a-47e3-be88-9667eba38ae2", "code": "UR_10006",
        "message": "error_unauthorised", "httpStatusCode": 401, "validationErrors":
        null}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      WWW-Authenticate: [Bearer]
    status: {code: 401, message: Unauthorized}
version: 1
