interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/2018-free-agency-frenzy/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.052Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Your one stop source for the latest news on what players
                are signing where, as the NFL''s 2018 Free Agency period officially
                begins.</p>

                '
              isBasic: false
              isGameOfTheWeek: false
              kind: NFL Network Archive video
              nflprogram: 2018-free-agency-frenzy
              nflprogramcode: FAF
              scheduleDate: '2018-03-16 17:05:00Z'
              season: null
              seasonType: null
              slug: 2018-nfl-free-agency-frenzy-day-5
              title: Day 5 - 2018 NFL Free Agency Frenzy
              trimmedVideoDuration: ''
              videoDuration: '22184.17'
              videoId: 46972f57-e271-4d54-b1fe-d1753b2024a6
              videoStatus: ONDEMAND
              videoThumbnail:
                overridenFormats: {}
                templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/ylbu79kazlszddq0g9mg
              vocGameTopTag: null
              week: null
            - description: '<p>Your one stop source for the latest news on what players
                are signing where, as the NFL''s 2018 Free Agency period officially
                begins.</p>

                '
              isBasic: false
              isGameOfTheWeek: false
              kind: NFL Network Archive video
              nflprogram: 2018-free-agency-frenzy
              nflprogramcode: FAF
              scheduleDate: '2018-03-15 14:05:00Z'
              season: null
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/2018-nfl-combine/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.126Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Defensive Backs - Exclusive LIVE coverage of the 2017
                NFL Scouting Combine from Lucas Oil Stadium in [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/nfl-draft-2018/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.208Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Recap the 2017 NFL Draft with in-depth analysis of
                every pick, as our experts tell you who did the most[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/a-football-life/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.329Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>He played for a high school known for producing NFL
                players. At USC he became an All American. And he [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/america-s-game/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.505Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Relive the story of the 2017 Philadelphia Eagles and
                their run to Super Bowl LII, retold by Carson Went[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/nfl-classic-games/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:51:41.639Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>2016 NFC Divisional Playoff - Green Bay Packers vs.
                Dallas Cowboys (From 1/15/17)</p>

             [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/coache-s-corner/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.632Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: ''
              isBasic: false
              isGameOfTheWeek: false
              kind: NFL Network Archive video
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/destination-dallas/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.766Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p><span style="color: rgba(0, 0, 0, 0.87);font-size:
                30px;float: none;">Destination Dallas - Episode 6 - Series Finale</span></p>

                '
              isBasic: false
              isGameOfTheWeek: false
              kind: NFL Network Archive video
              nflprogram: destination-dallas
              nflprogramcode: DesDal
              scheduleDate: '2018-04-25 23:11:00Z'
              season: null
              seasonType: null
              slug: destination-dallas-e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/football-town/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.860Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Ep. 6 - The Valdosta Wildcats are about to try and
                do something they haven''t done in 18 years: bring ho[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/good-morning-football/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:53:41.395Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Catch up on everything NFL with the latest news, highlights,
                and trending topics from across the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/going-global/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:10.969Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>Edleman and Amendola</p>

                '
              isBasic: false
              isGameOfTheWeek: false
              kind: NFL Network Archive video
              nflprogram: going-global
              nflprogramcode: GGL
              scheduleDate: '2017-11-17 01:09:00Z'
              season: null
              seasonType: null
              slug: going-global-edelman-and-amendola-in-mexico-city
              title: Going Global - Edelman and Amendola in Mexico City
              trimmedVideoDuration: ''
              videoDuration: '1262.101'
              videoId: 936f968c-4213-444b-8375-83ac6dd9020f
              videoStatus: ONDEMAND
              videoThumbnail:
                overridenFormats: {}
                templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/fgjbdw9ibuxagv8s3fuf
              vocGameTopTag: null
              week: null
            texts: {subTitle: videos-list-subtitle, title: videos-list-title}
      string: '{"header": {"id": "program archive", "version": "1.0", "title": "",
        "lastUpdate": "2018-10-09T06:54:10.969Z"}, "modules": {"archive": {"texts":
        {"title": "videos-list-title", "subTitle": "videos-list-subtitle"}, "content":
        [{"videoId": "936f968c-4213-444b-8375-83ac6dd9020f", "title": "Going Global
        - Edelman and Amendola in Mexico City", "description": "<p>Edleman and Amendola</p>\n",
        "kind": "NFL Network Archive video", "videoStatus": "ONDEMAND", "videoDuration":
        "1262.101", "trimmedVideoDuration": "", "slug": "going-global-edelman-and-amendola-in-mexico-city",
        "videoThumbnail": {"templateUrl": "https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/fgjbdw9ibuxagv8s3fuf",
        "overridenFormats": {}}, "week": null, "season": null, "seasonType": null,
        "scheduleDate": "2017-11-17 01:09:00Z", "isGameOfTheWeek": false, "vocGameTopTag":
        null, "isBasic": false, "nflprogram": "going-global", "nflprogramcode": "GGL"}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/hard-knocks/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:11.100Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>The Browns travel to Detroit to face the Lions in the
                final preseason game, and final cuts are made before[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/nfl-films/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:11.211Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: "<p>Host Charissa Thompson sits down with Doug Marrone..\
                \ a no bologna coach who loves a bologna sandwich.. Sa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/sound-fx/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:11.348Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>The best on-field sounds from the week with players
                and coaches wired for sound.</p>

                '
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/nfl-show/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:11.438Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: ''
              isBasic: false
              isGameOfTheWeek: false
              kind: NFL Network Archive video
              [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/nfl-turning-point/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:11.522Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>We break down the pivotal moments from Super Bowl LII
                that defined the outcome of the game with soun[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/nfl-playbook/list
  response:
    body:
      pretty:
        header: {id: program archive, lastUpdate: '2018-10-09T06:54:11.659Z', title: '',
          version: '1.0'}
        modules:
          archive:
            content:
            - description: '<p>An in-depth look at the past week''s NFL action with
                our experts breaking down the tape to take you beyon[...]
