interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/seasons
  response:
    body:
      pretty:
        header: {id: Home Games, lastUpdate: '2018-09-16T14:51:35.578Z', title: '',
          version: '1'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:games:games:landing', site_name: gamepass
              international, site_section: games, site_subsection: games}
          mainMenu:
            seasonStructureList:
            - season: 2018
              seasonTypes:
              - displayText: {seasonType: SeasonTypeTranslationTag}
                name: pre
                seasonType: pre
                weeks:
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/0/list',
                    ref: self}
                  number: 0
                  weekNameAbbr: hof
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/1/list',
                    ref: self}
                  number: 1
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/2/list',
                    ref: self}
                  number: 2
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.aka[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2017/reg/8/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-09-16T14:55:53.474Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2017:reg:Week
              8', page_name: 'gamepass international:games:games:2017:reg:week 8',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo:
                description: "<p>MIA @ BAL\_</p>\n\n<p>G57341<em>Ravens</em>vs<em>Dolphins</em>v2.mp4</p>\n"
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-11-01 11:38:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: dolphins-ravens-coaches
                title: Dolphins @ Ravens - Coaches
                trimmedVideoDuration: ''
                videoDuration: '4409.152'
                videoId: e510971c-1a50-44c9-9553-c285a35141fc
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-8
              condensedVideo:
                description: '<p>GI40<em>Reg8</em>01Miami<em>Dolphins</em>at<em>Baltimore</em>Ravens<em>1080</em>_</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Condensed game
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-10-27 06:09:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: miami-dolphins-baltimore-ravens-reg8-game-in-40
                title: Miami Dolphins @ Baltimore Ravens - Reg8 - Game In 40'
                trimmedVideoDuration: ''
                videoDuration: '2119.733'
                videoId: 69fd4c38-311d-4fc3-a1f0-bc5681c68cd0
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-8
              displayText: {live: video-live, liveIn: video-live-in, ondemand: video-ondemand,
                scheduled: video-scheduled}
              gameDateTimeUtc: '2017-10-27T00:25:00.000Z'
              gameId: 2017102600
              highlightsVideo: null
              homeCityState: Baltimore
              homeNickName: Ravens
              homeScore: {pointTotal: 40}
              homeTeamAbbr: BAL
              homeTeamId: '0325'
              homeTeamResult: winner
              phase: FINAL
              redZone: false
              redZoneLiveVideo: null
              season: 2017
              seasonType: REG
              siteCity: Baltimore
              siteFullName: M&T Bank Stadium
              siteId: 3695
              video:
                description: '<p>MIA@BAL</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Game video
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-10-27 08:30:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: miami-dolphins-baltimore-ravens-4
                title: Miami Dolphins @ Baltimore Ravens
                trimmedVideoDuration: ''
                videoDuration: '8365.3'
                videoId: 9f411680-eacd-4cde-b500-d8bfdbc67f0f
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/avkbaaeibrzzsrllmxcy
                vocGameTopTag: null
                week: week-8
              videoStatus: ONDEMAND
              visitorCityState: Miami
              visitorNickName: Dolphins
              visitorScore: {pointTotal: 0}
              visitorTeamAbbr: MIA
              visitorTeamId: '2700'
              visitorTeamResult: loser
              week: 8
              weekName: Week 8
              winner: Ravens
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>MIN @ CLE</p>


                  <p>G57342<em>Browns</em>vs<em>Vikings</em>v2.mp4</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-11-01 12:19:00Z'
                season: season-2017
                seasonT[...]
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&refresh_token=FAKE_TOKEN_1d96e1c12e789d1a97f3a6c6046f6af2b7119ce0c02b5c7f4bb0862e4fc231c7&grant_type=refresh_token
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_6c652cc6bb6512e89f0fa20e35ce5cf22e799583f3c6cda9e6ec44680b8c345d,
        expires_in: 3539, refresh_token: FAKE_TOKEN_34a288b46bff8b418ccd9cfd7dd478ca1b82e36cb183eafeb7f2954a3cc40591,
        token_type: bearer}
      string: '{"access_token": "FAKE_TOKEN_6c652cc6bb6512e89f0fa20e35ce5cf22e799583f3c6cda9e6ec44680b8c345d",
        "token_type": "bearer", "expires_in": 3539, "refresh_token": "FAKE_TOKEN_34a288b46bff8b418ccd9cfd7dd478ca1b82e36cb183eafeb7f2954a3cc40591"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/diva/diva/settings/vod/html5
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<settings version=\"\
        31_07_2018_0003_default_html5_prod\">\r\n  <advertisement enabled=\"false\"\
        \ />\r\n  <assets>\r\n    <parameter name=\"videoThumbnailUrl\" value=\"https://www.nflgamepass.com/api/images/image/private/t_16-9_1920/twwekbzhieranl5r9qr6\"\
        \ />\r\n  </assets>\r\n  <logging enabled=\"false\" />\r\n  <behaviour>\r\n\
        \    <parameter name=\"isCommentaryEnabled\" value=\"false\" />\r\n    <parameter\
        \ name=\"isScoreEnabled\" value=\"false\" />\r\n    <parameter name=\"isTitleEnabled\"\
        \ value=\"false\" />\r\n  </behaviour>\r\n  <translations>\r\n    <parameter\
        \ name=\"vocabularySource\" value=\"https://www.nflgamepass.com/api/diva/vocabulary/vocabulary-en-GB.xml\"\
        \ />\r\n  </translations>\r\n  <video>\r\n    <!--<parameter name = \"allowJSVideoUrlStage\"\
        \ value = \"false\"/>-->\r\n    <!--<parameter name = \"allowPathResolver\"\
        \ value = \"false\"/>-->\r\n    <!--<parameter name = \"baseExpectedVideoDuration\"\
        \ value = \"02:00:00\" /> -->\r\n    <!--<parameter name = \"closedCaption\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/diva/56cf4c1b-51c1-4472-b4c3-4a9196e24917
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<video>\r\n  <assetId>56cf4c1b-51c1-4472-b4c3-4a9196e24917</assetId>\r\
        \n  <videoId>56cf4c1b-51c1-4472-b4c3-4a9196e24917</videoId>\r\n  <alternateId>aadf2a06-3671-4e4f-8a82-e49f1191fe48</alternateId>\r\
        \n  <isPrivate>false</isPrivate>\r\n  <title>Carolina Panthers @ Tampa Bay\
        \ Buccaneers</title>\r\n  <description><![CDATA[NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720]]></description>\r\
        \n  <thumbnailUrl><![CDATA[]]></thumbnailUrl>\r\n  <assetState>3</assetState>\r\
        \n  <isMultistream>false</isMultistream>\r\n  <events>\r\n    <event id=\"\
        2017102907\" start=\"\" end=\"\" />\r\n  </events>\r\n  <videoSources>\r\n\
        \    <videoSource format=\"HLS\" name=\"HLS\" offset=\"0:00:00\">\r\n    \
        \  <dvrType>full</dvrType>\r\n      <uri><![CDATA[https://vod-i-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(format=m3u8-aapl-v3,filter=hls)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"ChromeCast\"\
        \ name=\"ChromeCast\" offset=\"0:00:00\">\r\n      <dvrType>full</dvrType>\r\
        \n      <uri><![CDATA[https://vod-i-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(format=m3u8-aapl-v3,filter=chromecast)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"ConnectTV\"\
        \ name=\"ConnectTV\" offset=\"0:00:00\">\r\n      <dvrType>full</dvrType>\r\
        \n      <uri><![CDATA[https://vod-i-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(format=m3u8-aapl-v3,filter=connecttv)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"IIS\" name=\"\
        IIS\" offset=\"0:00:00\">\r\n      <dvrType>full</dvrType>\r\n      <uri><![CDATA[https://vod-s-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(filter=iis)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n  </videoSources>\r\n  <duration>2:07:23.2</duration>\r\
        \n  <trimIn />\r\n  <trimOut />\r\n  <timeCodeIn />\r\n  <audioTracks default=\"\
        en-US\">\r\n    <audioTrack id=\"en-US\" lang=\"en-US\" enabled=\"true\" displayName=\"\
        English (US)\">English (US)</audioTrack>\r\n  </audioTracks>\r\n  <preroll\
        \ template=\"\" />\r\n  <postroll template=\"\" />\r\n  <kind><![CDATA[VOD]]></kind>\r\
        \n  <category1><![CDATA[GAME-2017-REG-8-2017102907-TB-CAR-REPLAY]]></category1>\r\
        \n  <customAttributes>\r\n    <attribute key=\"area\" value=\"Video\" />\r\
        \n    <attribute key=\"section\" value=\"General\" />\r\n  </customAttributes>\r\
        \n  <lang>en-US</lang>\r\n  <wcmEntityid>aadf2a06-3671-4e4f-8a82-e49f1191fe48</wcmEntityid>\r\
        \n</video>"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Type": "1", "User": "", "VideoId": "56cf4c1b-51c1-4472-b4c3-4a9196e24917",
      "VideoSource": "https://vod-i-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(format=m3u8-aapl-v3,filter=hls)",
      "VideoKind": "Video", "AssetState": "3", "PlayerType": "HTML5", "other": "6d73d368-6679-4000-befd-040b853d4a1c|FAKE_TOKEN_6c652cc6bb6512e89f0fa20e35ce5cf22e799583f3c6cda9e6ec44680b8c345d|web|FAKE_TOKEN_6c652cc6bb6512e89f0fa20e35ce5cf22e799583f3c6cda9e6ec44680b8c345d|undefined|Firefox"}'
    headers:
    method: POST
    uri: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/open
  response:
    body:
      pretty: {Action: '', ActionParameters: '', ContentUrl: 'https://vod-i-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1537109664~exp=1537109844~acl=/*~hmac=5eed414c845d9c002f27b00df66366ac0ba2e6a3ac62fdcd763f4fab4f8fb5a6&hdcore=2.11.3',
        HeartBeatTime: 0, Message: '', Response: OK, ResponseCode: 1, Signature: 6B6E0F6A861CEB85BFC60DB8F2B472034184E16A}
      string: '{"Response": "OK", "ResponseCode": 1, "Message": "", "Action": "",
        "ContentUrl": "https://vod-i-video-nfl.akamaized.net/vod/6d52cdcb-3495-42e8-aa40-399d6007eea5/NoAds_Reg8_09_Carolina_Panthers_at_Tampa_Bay_Buccaneers_720.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1537109664~exp=1537109844~acl=/*~hmac=5eed414c845d9c002f27b00df66366ac0ba2e6a3ac62fdcd763f4fab4f8fb5a6&hdcore=2.11.3",
        "HeartBeatTime": 0, "Signature": "6B6E0F6A861CEB85BFC60DB8F2B472034184E16A",
        "ActionParameters": ""}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
