interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/seasons
  response:
    body:
      pretty:
        header: {id: Home Games, lastUpdate: '2018-10-05T11:59:20.152Z', title: '',
          version: '1'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:games:games:landing', site_name: gamepass
              international, site_section: games, site_subsection: games}
          mainMenu:
            seasonStructureList:
            - season: 2018
              seasonTypes:
              - displayText: {seasonType: SeasonTypeTranslationTag}
                name: pre
                seasonType: pre
                weeks:
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/0/list',
                    ref: self}
                  number: 0
                  weekNameAbbr: hof
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/1/list',
                    ref: self}
                  number: 1
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/2/list',
                    ref: self}
                  number: 2
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.aka[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2016/reg/1/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-10-05T11:59:21.215Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2016:reg:Week
              1', page_name: 'gamepass international:games:games:2016:reg:week 1',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>Carolina Panthers@Denver Broncos

                  Season: 2016

                  SeasonType: Regular season

                  Week: Week 1

                  Type: Coach</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-05-17 12:03:00Z'
                season: season-2016
                seasonType: seasontype-reg
                slug: carolina-panthers-denver-broncos-1
                title: Carolina Panthers@Denver Broncos
                trimmedVideoDuration: ''
                videoDuration: '4720.618'
                videoId: f2632a2a-4762-456a-a7df-37e18c49e47c
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-1
              condensedVideo:
                description: '<p>Carolina Panthers@Denver Broncos

                  Season: 2016

                  SeasonType: Regular season

                  Week: Week 1

                  Type: Condensed</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Condensed game
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-05-19 17:51:00Z'
                season: season-2016
                seasonType: seasontype-reg
                slug: carolina-panthers-denver-broncos-2
                title: Carolina Panthers@Denver Broncos
                trimmedVideoDuration: ''
                videoDuration: '2619.049'
                videoId: f9ad3a41-90ec-4af5-8029-accc753fdaec
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-1
              displayText: {live: video-live, liveIn: video-live-in, ondemand: video-ondemand,
                scheduled: video-scheduled}
              gameDateTimeUtc: '2016-09-09T00:30:00.000Z'
              gameId: 2016090800
              highlightsVideo: null
              homeCityState: Denver
              homeNickName: Broncos
              homeScore: {pointTotal: 21}
              homeTeamAbbr: DEN
              homeTeamId: '1400'
              homeTeamResult: winner
              phase: FINAL
              redZone: false
              redZoneLiveVideo: null
              season: 2016
              seasonType: REG
              siteCity: Denver
              siteFullName: Sports Authority Field at Mile High
              siteId: 5786
              video:
                description: '<p>Carolina Panthers@Denver Broncos

                  Season: 2016

                  SeasonType: Regular season

                  Week: Week 1

                  Type: Broadcast</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Game video
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-05-19 19:20:00Z'
                season: season-2016
                seasonType: seasontype-reg
                slug: carolina-panthers-denver-broncos-3
                title: Carolina Panthers@Denver Broncos
                trimmedVideoDuration: ''
                videoDuration: '8786.077'
                videoId: 8a3aa923-33e3-44cc-89db-10c5b0110669
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-1
              videoStatus: ONDEMAND
              visitorCityState: Carolina
              visitorNickName: Panthers
              visitorScore: {pointTotal: 20}
              visitorTeamAbbr: CAR
              visitorTeamId: '0750'
              visitorTeamResult: loser
              week: 1
              weekName: Week 1
              winner: Broncos
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>Tampa Bay Buccaneers@Atlanta Falcons

                  Season: 2016

                  SeasonType: Regular season

                  Week: Week 1

                  Type: Coach</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2017/reg/2/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-10-05T11:59:23.437Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2017:reg:Week
              2', page_name: 'gamepass international:games:games:2017:reg:week 2',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>G57250<em>Bengals</em>vs<em>Texans</em>v2.mp4</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-09-22 09:55:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: texans-bengals
                title: TEXANS @ BENGALS - Coaches Film
                trimmedVideoDuration: ''
 [...]
