interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&username=REDACTED&password=REDACTED&grant_type=password
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body: {string: "<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access\
        \ Denied</H1>\n \nYou don't have permission to access \"http&#58;&#47;&#47;www&#46;nflgamepass&#46;com&#47;api&#47;user&#47;oauth&#47;token\"\
        \ on this server.<P>\nReference&#32;&#35;18&#46;25651002&#46;1539000199&#46;2b72a10a\n\
        </BODY>\n</HTML>\n"}
    headers:
      Content-Type: [text/html]
      Mime-Version: ['1.0']
    status: {code: 403, message: Forbidden}
- request:
    body: apiKey=3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp&loginID=REDACTED&includeUserInfo=false&password=REDACTED
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.us1.gigya.com/accounts.login
  response:
    body:
      pretty:
        UID: 8caecb9d8857dc3fd9c7b2ce9fcc5368
        UIDSignature: fE4HRDFVHSRDU0LhriFgZLjkgrY=
        apiVersion: 2
        callId: 5378ad7a31e34674a77f53178dab3a82
        created: '2012-08-04T11:20:09.000Z'
        createdTimestamp: 1344079209
        errorCode: 0
        isActive: true
        isRegistered: true
        isVerified: true
        lastLogin: '2018-10-08T12:03:19.885Z'
        lastLoginTimestamp: 1539000199
        lastUpdated: '2018-09-04T06:49:25.683Z'
        lastUpdatedTimestamp: 1536043765683
        loginProvider: site
        newUser: false
        oldestDataUpdated: '2012-08-04T11:20:09.000Z'
        oldestDataUpdatedTimestamp: 1344079209000
        profile: REDACTED
        registered: '2018-03-02T04:03:59.927Z'
        registeredTimestamp: 1519963439
        sessionInfo: {cookieName: gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp,
          cookieValue: st2.1FhUZRVxnGwWK8mlgXVlSx2Lo-M.Ssnhdh7S14aXrnmfUzbwLg.pPcjcqcXg5zQzbH94-_pPYyrHno}
        signatureTimestamp: '1539000199'
        socialProviders: site
        statusCode: 200
        statusReason: OK
        time: '2018-10-08T12:03:20.056Z'
        verified: '2018-03-02T04:03:59.786Z'
        verifiedTimestamp: 1519963439786
      string: '{"callId": "5378ad7a31e34674a77f53178dab3a82", "errorCode": 0, "apiVersion":
        2, "statusCode": 200, "statusReason": "OK", "time": "2018-10-08T12:03:20.056Z",
        "registeredTimestamp": 1519963439, "UID": "8caecb9d8857dc3fd9c7b2ce9fcc5368",
        "UIDSignature": "fE4HRDFVHSRDU0LhriFgZLjkgrY=", "signatureTimestamp": "1539000199",
        "created": "2012-08-04T11:20:09.000Z", "createdTimestamp": 1344079209, "isActive":
        true, "isRegistered": true, "isVerified": true, "lastLogin": "2018-10-08T12:03:19.885Z",
        "lastLoginTimestamp": 1539000199, "lastUpdated": "2018-09-04T06:49:25.683Z",
        "lastUpdatedTimestamp": 1536043765683, "loginProvider": "site", "oldestDataUpdated":
        "2012-08-04T11:20:09.000Z", "oldestDataUpdatedTimestamp": 1344079209000, "profile":
        "REDACTED", "registered": "2018-03-02T04:03:59.927Z", "socialProviders": "site",
        "verified": "2018-03-02T04:03:59.786Z", "verifiedTimestamp": 1519963439786,
        "newUser": false, "sessionInfo": {"cookieName": "gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp",
        "cookieValue": "st2.1FhUZRVxnGwWK8mlgXVlSx2Lo-M.Ssnhdh7S14aXrnmfUzbwLg.pPcjcqcXg5zQzbH94-_pPYyrHno"}}'
    headers:
      Content-Type: [text/javascript; charset=utf-8]
      X-CallID: [5378ad7a31e34674a77f53178dab3a82]
      X-Gigya-HA-cfg-ver: ['5']
      X-Server: [us1d-nomad-g39]
      X-Soa: ['true, Gator']
    status: {code: 200, message: OK}
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&uuid=8caecb9d8857dc3fd9c7b2ce9fcc5368&signature=fE4HRDFVHSRDU0LhriFgZLjkgrY%3D&ts=1539000199&device_type=web&username=REDACTED&grant_type=shield_authentication
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_4ab2f5d7e981184ac5f52bd09fc76d15c1d16c340f3c8c14047db77acb87ec42,
        expires_in: 3539, refresh_token: FAKE_TOKEN_a49e0c87b12361b1a4185db7798f20c8d225765b20a8e9b71ea847cb697742ab,
        token_type: bearer}
      string: '{"access_token": "FAKE_TOKEN_4ab2f5d7e981184ac5f52bd09fc76d15c1d16c340f3c8c14047db77acb87ec42",
        "token_type": "bearer", "expires_in": 3539, "refresh_token": "FAKE_TOKEN_a49e0c87b12361b1a4185db7798f20c8d225765b20a8e9b71ea847cb697742ab"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
