interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&username=I_do_not_exist&password=wrong&grant_type=password
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body: {string: ''}
    headers:
      Retry-After: ['3598']
    status: {code: 400, message: Bad Request}
- request:
    body: apiKey=3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp&loginID=I_do_not_exist&password=wrong
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.us1.gigya.com/accounts.login
  response:
    body:
      pretty: {apiVersion: 2, callId: 956a83042f7145f2be97030a0c4a8373, errorCode: 403042,
        errorDetails: invalid loginID or password, errorMessage: Invalid LoginID,
        statusCode: 403, statusReason: Forbidden, time: '2018-09-15T13:57:32.758Z'}
      string: '{"callId": "956a83042f7145f2be97030a0c4a8373", "errorCode": 403042,
        "errorDetails": "invalid loginID or password", "errorMessage": "Invalid LoginID",
        "apiVersion": 2, "statusCode": 403, "statusReason": "Forbidden", "time": "2018-09-15T13:57:32.758Z"}'
    headers:
      Content-Type: [text/javascript; charset=utf-8]
      X-CallID: [956a83042f7145f2be97030a0c4a8373]
      X-Gigya-HA-cfg-ver: ['5']
      X-Server: [us1d-nomad-g37]
      X-Soa: ['true, Gator']
    status: {code: 200, message: OK}
version: 1
