interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&username=REDACTED&password=REDACTED&grant_type=password
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body: {string: "<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access\
        \ Denied</H1>\n \nYou don't have permission to access \"http&#58;&#47;&#47;www&#46;nflgamepass&#46;com&#47;api&#47;user&#47;oauth&#47;token\"\
        \ on this server.<P>\nReference&#32;&#35;18&#46;25651002&#46;1539682683&#46;14127dde\n\
        </BODY>\n</HTML>\n"}
    headers:
      Content-Type: [text/html]
      Mime-Version: ['1.0']
    status: {code: 403, message: Forbidden}
- request:
    body: apiKey=3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp&loginID=REDACTED&includeUserInfo=false&password=REDACTED
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.us1.gigya.com/accounts.login
  response:
    body:
      pretty:
        UID: 8caecb9d8857dc3fd9c7b2ce9fcc5368
        UIDSignature: oH8WVj0LTtBQNIYqzgItKO0yrJk=
        apiVersion: 2
        callId: 342ab5e5ced940438002e2b6092c557b
        created: '2012-08-04T11:20:09.000Z'
        createdTimestamp: 1344079209
        errorCode: 0
        isActive: true
        isRegistered: true
        isVerified: true
        lastLogin: '2018-10-16T09:38:04.674Z'
        lastLoginTimestamp: 1539682684
        lastUpdated: '2018-09-04T06:49:25.683Z'
        lastUpdatedTimestamp: 1536043765683
        loginProvider: site
        newUser: false
        oldestDataUpdated: '2012-08-04T11:20:09.000Z'
        oldestDataUpdatedTimestamp: 1344079209000
        profile: REDACTED
        registered: '2018-03-02T04:03:59.927Z'
        registeredTimestamp: 1519963439
        sessionInfo: {cookieName: gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp,
          cookieValue: st2.SSevN5AdzhcoIjntKy0AaGea7nM.Fbyra-7V5QUqfZMUAIi39A.yVPsGWBYbaTLFAMIs-r-NpwW2lo}
        signatureTimestamp: '1539682684'
        socialProviders: site
        statusCode: 200
        statusReason: OK
        time: '2018-10-16T09:38:04.825Z'
        verified: '2018-03-02T04:03:59.786Z'
        verifiedTimestamp: 1519963439786
      string: '{"callId": "342ab5e5ced940438002e2b6092c557b", "errorCode": 0, "apiVersion":
        2, "statusCode": 200, "statusReason": "OK", "time": "2018-10-16T09:38:04.825Z",
        "registeredTimestamp": 1519963439, "UID": "8caecb9d8857dc3fd9c7b2ce9fcc5368",
        "UIDSignature": "oH8WVj0LTtBQNIYqzgItKO0yrJk=", "signatureTimestamp": "1539682684",
        "created": "2012-08-04T11:20:09.000Z", "createdTimestamp": 1344079209, "isActive":
        true, "isRegistered": true, "isVerified": true, "lastLogin": "2018-10-16T09:38:04.674Z",
        "lastLoginTimestamp": 1539682684, "lastUpdated": "2018-09-04T06:49:25.683Z",
        "lastUpdatedTimestamp": 1536043765683, "loginProvider": "site", "oldestDataUpdated":
        "2012-08-04T11:20:09.000Z", "oldestDataUpdatedTimestamp": 1344079209000, "profile":
        "REDACTED", "registered": "2018-03-02T04:03:59.927Z", "socialProviders": "site",
        "verified": "2018-03-02T04:03:59.786Z", "verifiedTimestamp": 1519963439786,
        "newUser": false, "sessionInfo": {"cookieName": "gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp",
        "cookieValue": "st2.SSevN5AdzhcoIjntKy0AaGea7nM.Fbyra-7V5QUqfZMUAIi39A.yVPsGWBYbaTLFAMIs-r-NpwW2lo"}}'
    headers:
      Content-Type: [text/javascript; charset=utf-8]
      X-CallID: [342ab5e5ced940438002e2b6092c557b]
      X-Gigya-HA-cfg-ver: ['5']
      X-Server: [us1d-nomad-g45]
      X-Soa: ['true, Gator']
    status: {code: 200, message: OK}
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&uuid=8caecb9d8857dc3fd9c7b2ce9fcc5368&signature=oH8WVj0LTtBQNIYqzgItKO0yrJk%3D&ts=1539682684&device_type=web&username=REDACTED&grant_type=shield_authentication
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_df2c4ddd655e05ef68d903786242b28eb28a0b544f07b467624da00e6e6a9b37,
        expires_in: 3539, refresh_token: FAKE_TOKEN_f68846c2fc97ee45529e89830e9e659d31f71fe4af354b8438d7f41351680d4b,
        token_type: bearer}
      string: '{"access_token": "FAKE_TOKEN_df2c4ddd655e05ef68d903786242b28eb28a0b544f07b467624da00e6e6a9b37",
        "token_type": "bearer", "expires_in": 3539, "refresh_token": "FAKE_TOKEN_f68846c2fc97ee45529e89830e9e659d31f71fe4af354b8438d7f41351680d4b"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
