interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/seasons
  response:
    body:
      pretty:
        header: {id: Home Games, lastUpdate: '2018-10-11T07:26:39.038Z', title: '',
          version: '1'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:games:games:landing', site_name: gamepass
              international, site_section: games, site_subsection: games}
          mainMenu:
            seasonStructureList:
            - season: 2018
              seasonTypes:
              - displayText: {seasonType: SeasonTypeTranslationTag}
                name: pre
                seasonType: pre
                weeks:
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/0/list',
                    ref: self}
                  number: 0
                  weekNameAbbr: hof
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/1/list',
                    ref: self}
                  number: 1
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/2/list',
                    ref: self}
                  number: 2
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.aka[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2018/reg/1/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-10-11T07:29:12.947Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2018:reg:Week
              1', page_name: 'gamepass international:games:games:2018:reg:week 1',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>G57567<em>Eagles</em>vs<em>Falcons</em>v2.mp4 (2018-09-11
                  09:23:57Z)</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: ''
                season: season-2018
                seasonType: seasontype-reg
                slug: falcons-eagles-coaches-film
                title: Falcons @ Eagles - Coaches Film
                trimmedVideoDuration: ''
                videoDuration: '5586.134'
                videoId: 821289e8-6571-4028-ae74-3f7f6f058a20
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-1
              condensedVideo:
                description: ''
                isBasic: false
                isGameOfTheWeek: false
                kind: Condensed game
                nflprogram: null
                nflprogramcode: null
                scheduleDate: ''
                season: season-2018
                seasonType: seasontype-reg
                slug: atlanta-falcons-philadelphia-eagles-game-in-40
                title: Atlanta Falcons @ Philadelphia Eagles - Game in 40'
                trimmedVideoDuration: ''
                videoDuration: '2497.1'
                videoId: 64e88edc-e84a-4b69-96f3-585ad559f5cb
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-1
              displayText: {live: video-live, liveIn: video-live-in, ondemand: video-ondemand,
                scheduled: video-scheduled}
              gameDateTimeUtc: '2018-09-07T00:20:00.000Z'
              gameId: 2018090600
              highlightsVideo: null
              homeCityState: Philadelphia
              homeNickName: Eagles
              homeScore: {pointTotal: 18}
              homeTeamAbbr: PHI
              homeTeamId: '3700'
              homeTeamResult: winner
              phase: FINAL
              redZone: false
              redZoneLiveVideo: null
              season: 2018
              seasonType: REG
              siteCity: Philadelphia
              siteFullName: Lincoln Financial Field
              siteId: 2769
              video:
                description: '<p>ATL@PHI - NoADs</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Game video
                nflprogram: null
                nflprogramcode: null
                scheduleDate: ''
                season: season-2018
                seasonType: seasontype-reg
                slug: atlanta-falcons-philadelphia-eagles-7
                title: Atlanta Falcons @ Philadelphia Eagles
                trimmedVideoDuration: ''
                videoDuration: '9239.467'
                videoId: 0a33c364-408a-4577-b0fb-326daf60155b
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/jt6ubmpsno7rfhxiwd2s
                vocGameTopTag: null
                week: week-1
              videoStatus: ONDEMAND
              visitorCityState: Atlanta
              visitorNickName: Falcons
              visitorScore: {pointTotal: 12}
              visitorTeamAbbr: ATL
              visitorTeamId: '0200'
              visitorTeamResult: loser
              week: 1
              weekName: Week 1
              winner: Eagles
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>G57568<em>Ravens</em>vs<em>Bills</em>v2.mp4 (2018-09-11
                  10:48:12Z)</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: ''
                season: season-2018
                seasonType: seasontype-re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/49ers/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:13.355Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardinals, teamId: '3800'}
            - {abbr: ATL, cityState: Atlanta, conferenceAbbr: NFC, divisionAbbr: NCS,
              fullName: Atlanta Falcons, nick: Falcons, seoname: falcons, teamId: '0200'}
            - {abbr: BAL, cityState: Baltimore, conferenceAbbr: AFC, divisionAbbr: ACN,
              fullName: Baltimore Ravens, nick: Ravens, seoname: ravens, teamId: '0325'}
            - {abbr: BUF, cityState: Buffalo, conferenceAbbr: AFC, divisio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/bears/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:13.954Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardinals,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/bengals/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:14.457Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardinal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/bills/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:14.858Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardinals,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/broncos/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:15.481Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardinal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/browns/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:15.906Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardinals[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/teams/buccaneers/videos
  response:
    body:
      pretty:
        header: {id: teamDetail, lastUpdate: '2018-10-11T07:29:16.302Z', title: '',
          version: '1'}
        modules:
          allTeams:
            content:
            - {abbr: ARI, cityState: Arizona, conferenceAbbr: NFC, divisionAbbr: NCW,
              fullName: Arizona Cardinals, nick: Cardinals, seoname: cardi[...]
