interactions:
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&refresh_token=FAKE_TOKEN_0437b89815ae674b2391c835aea8e8a91eb9b3ea685a59d77a4fef5ce3f92597&grant_type=refresh_token
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_767e917a1e25628f68e2627da4c2f6e694fc58e79d5c8336a3c6dac7fc06e6ab,
        expires_in: 3539, refresh_token: FAKE_TOKEN_d95e885bc974cbbce4c54d21aa0830824570a31a2d9121ad3f4425b583826bce,
        token_type: bearer}
      string: '{"access_token": "FAKE_TOKEN_767e917a1e25628f68e2627da4c2f6e694fc58e79d5c8336a3c6dac7fc06e6ab",
        "token_type": "bearer", "expires_in": 3539, "refresh_token": "FAKE_TOKEN_d95e885bc974cbbce4c54d21aa0830824570a31a2d9121ad3f4425b583826bce"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/data
  response:
    body:
      pretty:
        header: {id: network, lastUpdate: '2018-10-09T08:36:36.015Z', title: '', version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:nfl network:nfl network:landing', site_name: gamepass
              international, site_section: nfl network, site_subsection: nfl network}
          networkEpg:
            futurePrograms:
            - {description: '"Good Morning Football" - Catch up on everything NFL
                with the latest news, highlights, and trending topics from across
                the football world and beyond.', duration: 3.0, featured: 'false',
              logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 10, programId: 22903603, repeats: p, shortDescription: '"Good
                Morning Football" - Catch up on everything NFL with the latest news,
                highlights, and trending topics from across the football world and
                beyond.', showLinkCode: 'Null', startDayEST: 9, startMonthEST: 10,
              startTime: 1539082800000, startTimeUTC: '2018-10-09T11:00:00Z', team1: null,
              team2: null, title: GOOD MORNING FOOTBALL}
            - {description: '"Good Morning Football" - Catch up on everything NFL
                with the latest news, highlights, and trending topics from across
                the football world and beyond.', duration: 3.0, featured: 'false',
              logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 10, programId: 22903604, repeats: r, shortDescription: '"Good
                Morning Football" - C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/diva/diva/settings/v5/24h7d/html5
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<settings version=\"\
        30_07_2018_0001_24h7d_html5_prod\">\r\n  <advertisement enabled=\"false\"\
        \ />\r\n  <assets>\r\n    <parameter name=\"videoThumbnailUrl\" value=\"https://www.nflgamepass.com/api/images/image/private/t_16-9_1920/twwekbzhieranl5r9qr6\"\
        \ />\r\n  </assets>\r\n  <behaviour>\r\n    <parameter name=\"isCommentaryEnabled\"\
        \ value=\"false\" />\r\n    <parameter name=\"isScoreEnabled\" value=\"false\"\
        \ />\r\n    <parameter name=\"isTitleEnabled\" value=\"false\" />\r\n  </behaviour>\r\
        \n  <entitlementCheck encoded=\"false\" enabled=\"true\">\r\n    <parameter\
        \ name=\"processingUrlCallPath\" value=\"https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/open\"\
        \ />\r\n    <parameter name=\"heartBeatCallPath\" value=\"https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/heartbeat\"\
        \ />\r\n    <parameter name=\"userCookieName\" value=\"\" />\r\n    <!--to\
        \ insert the agreeded name -->\r\n    <parameter name=\"callback\" value=\"\
        \" />\r\n    <parameter name=\"heartbeatInterval\" value=\"00:03:00\" />\r\
        \n    <parameter name=\"secretTxt\" value=\"\" />\r\n    <parameter name=\"\
        other\" value=\"{Run.SessionID}|{Settings.cs1}|{Settings.cs2}|{Settings.cs3}|{Settings.cs4}|{Settings.cs5}\"\
        \ />\r\n  </entitlementCheck>\r\n  <logging enabled=\"false\" />\r\n  <tracking\
        \ enabled=\"true\">\r\n    <items>\r\n      <item>\r\n        <parameter name=\"\
        type\" value=\"TagManager-html5\" />\r\n        <parameter name=\"setting1\"\
        \ value=\"GTM-MFDKV77\" />\r\n        <parameter name=\"setting2\" value=\"\
        https://www.nflgamepass.com/api/diva/gtm/tracking_configuration_40.json\"\
        \ />\r\n      </item>\r\n    </items>\r\n  </tracking>\r\n  <translations>\r\
        \n    <parameter name=\"vocabularySource\" value=\"https://www.nflgamepass.com/api/diva/vocabulary/vocabulary-en-GB.xml\"\
        \ />\r\n  </translations>\r\n  <video>\r\n    <!--<parameter name = \"allowJSVideoUrlStage\"\
        \ value = \"false\"/>-->\r\n    <!--<parameter name = \"allowPathResolver\"\
        \ value = \"false\"/>-->\r\n    <parameter name=\"baseExpectedVideoDuration\"\
        \ value=\"08:01:00\" />\r\n    <!--<parameter name = \"closedCaption\" value\
        \ = \"false\"/>-->\r\n    <!--<parameter name = \"isVREnabledFor360video\"\
        \ value = \"true\"/>-->\r\n    <parameter name=\"liveBackOff\" value=\"00:00:20\"\
        \ />\r\n    <!--<parameter name = \"maxBitrateKbps\" value = \"3500\"/>-->\r\
        \n    <!--<parameter name = \"offsetExpectedVideoDuration\" value = \"01:00:00\"\
        />-->\r\n    <parameter name=\"retryOnVideoError\" value=\"0\" />\r\n    <!--<parameter\
        \ name = \"trackVideodataManifest\" value = \"true\"/>-->\r\n    <parameter\
        \ name=\"startingBitrateKbps\" value=\"600\" />\r\n    <!--<parameter name\
        \ = \"userAudioSelection\" value = \"false\"/>-->\r\n    <!--<parameter name\
        \ = \"videoAnalyticsEventFrequency\" value = \"00:02:00\"/>-->\r\n    <!--<parameter\
        \ name = \"iosInternalOverrides\" value =\"{ \\\"iPhone7,1=\"\"\\\": 3238279\
        \ }\"/>-->\r\n    <!--<parameter name = \"videoPlatformsPriority\" value=\"\
        HLS,dash,chromecast-v2\" />-->\r\n    <!--<parameter name = \"androidForceSurfaceView\"\
        \ value=\"false\" />-->\r\n  </video>\r\n  <videoData enabled=\"true\">\r\n\
        \    <parameter name=\"videoDataPath\" value=\"https://www.nflgamepass.com/api/en/content/v5/diva/{V.ID}\"\
        \ />\r\n    <parameter name=\"pollingInterval\" value=\"00:59:59\" />\r\n\
        \  </videoData>\r\n</settings>\r\n<!--DivaS:F03toNQj05MTT+LZ/xnPOipHjtk=-->"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v5/diva/86696b55-9d15-4625-856c-d88a8cdb9f33
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<video>\r\n  <assetId>86696b55-9d15-4625-856c-d88a8cdb9f33</assetId>\r\
        \n  <videoId>86696b55-9d15-4625-856c-d88a8cdb9f33</videoId>\r\n  <alternateId>3246c820-59df-4013-8a66-96dcf9eb55e6</alternateId>\r\
        \n  <isPrivate>false</isPrivate>\r\n  <title>NFL Network</title>\r\n  <description><![CDATA[NFL\
        \ Network Channel]]></description>\r\n  <thumbnailUrl><![CDATA[]]></thumbnailUrl>\r\
        \n  <assetState>2</assetState>\r\n  <isMultistream>false</isMultistream>\r\
        \n  <events />\r\n  <videoSources>\r\n    <videoSource format=\"HLS-V3\" name=\"\
        HLS\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"HLS-V3\"\
        \ name=\"ConnectTv\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\
        \n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=connecttv)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"HLS-V3\"\
        \ name=\"ChromeCast\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\
        \n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=chromecast)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n  </videoSources>\r\n  <duration\
        \ />\r\n  <trimIn />\r\n  <trimOut />\r\n  <timeCodeIn>20180101000100000</timeCodeIn>\r\
        \n  <audioTracks default=\"en-US\">\r\n    <audioTrack id=\"en-US\" lang=\"\
        en-US\" enabled=\"true\" displayName=\"English (US)\">English (US)</audioTrack>\r\
        \n  </audioTracks>\r\n  <preroll template=\"\" />\r\n  <postroll template=\"\
        \" />\r\n  <kind><![CDATA[Live]]></kind>\r\n  <category1><![CDATA[NTWL]]></category1>\r\
        \n  <customAttributes>\r\n    <attribute key=\"area\" value=\"video\" />\r\
        \n    <attribute key=\"section\" value=\"General\" />\r\n  </customAttributes>\r\
        \n  <lang>en-US</lang>\r\n  <wcmEntityid>3246c820-59df-4013-8a66-96dcf9eb55e6</wcmEntityid>\r\
        \n</video>"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Type": "1", "User": "", "VideoId": "86696b55-9d15-4625-856c-d88a8cdb9f33",
      "VideoSource": "https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)",
      "VideoKind": "Video", "AssetState": "3", "PlayerType": "HTML5", "other": "f21ced97-f7b3-490c-8149-6342e6432970|FAKE_TOKEN_94550cf3ae70321abed38f9a6f737519edcb9fabc00cb25f41b76f2ea6308549|web|FAKE_TOKEN_94550cf3ae70321abed38f9a6f737519edcb9fabc00cb25f41b76f2ea6308549|undefined|Firefox"}'
    headers:
    method: POST
    uri: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/open
  response:
    body:
      pretty: {Action: '', ActionParameters: '', ContentUrl: 'https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1539074106~exp=1539074286~acl=/*~hmac=18f5cad37dc92e730868948242b427c7f05847381925270150dbf045c4bb2001&hdcore=2.11.3',
        HeartBeatTime: 0, Message: '', Response: OK, ResponseCode: 1, Signature: 2BD24D9EBBDC43724E7A80C6A024F3976FB49DA7}
      string: '{"Response": "OK", "ResponseCode": 1, "Message": "", "Action": "",
        "ContentUrl": "https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1539074106~exp=1539074286~acl=/*~hmac=18f5cad37dc92e730868948242b427c7f05847381925270150dbf045c4bb2001&hdcore=2.11.3",
        "HeartBeatTime": 0, "Signature": "2BD24D9EBBDC43724E7A80C6A024F3976FB49DA7",
        "ActionParameters": ""}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
