interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2015/reg/1/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-09-19T07:42:29.771Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2015:reg:Week
              1', page_name: 'gamepass international:games:games:2015:reg:week 1',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo: null
              condensedVideo:
                description: '<p>Pittsburgh Steelers@New England Patriots

                  Season: 2015

                  SeasonType: Regular season

                  Week: Week 1

                  Type: Condensed</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Condensed game
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-08-16 08:37:00Z'
                season: season-2015
                seasonType: seasontype-reg
                slug: pittsburgh-steelers-new-england-patriots-3
                title: Pittsburgh Steelers@New England Patriots
                trimmedVideoDuration: ''
                videoDuration: '2479.36'
                videoId: b19ab3a5-e16d-4068-bbaf-e47d5f1c4bcf
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-1
              displayText: {live: video-live, liveIn: video-live-in, ondemand: video-ondemand,
                scheduled: video-scheduled}
              gameDateTimeUtc: '2015-09-11T00:30:00.000Z'
              gameId: 2015091000
              highlightsVideo: null
              homeCityState: New England
              homeNickName: Patriots
              homeScore: {pointTotal: 28}
              homeTeamAbbr: NE
              homeTeamId: '3200'
              homeTeamResult: winner
              phase: FINAL
              redZone: false
              redZoneLiveVideo: null
              season: 2015
              seasonType: REG
              siteCity: Foxborough
              siteFullName: Gillette Stadium
              siteId: 1065
              video: null
              videoStatus: ONDEMAND
              visitorCityState: Pittsburgh
              visitorNickName: Steelers
              visitorScore: {pointTotal: 21}
              visitorTeamAbbr: PIT
              visitorTeamId: '3900'
              visitorTeamResult: loser
              week: 1
              weekName: Week 1
              winner: Patriots
            - backgroundImage: null
              coachfilmVideo: null
              condensedVideo:
                description: '<p>Green Bay Packers@Chicago Bears

                  Season: 2015

                  SeasonType: Regular season

                  Week: Week 1

                  Type: Condensed</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Condensed game
                nflprogram: null
              [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2017/reg/2/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-09-19T07:42:31.717Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2017:reg:Week
              2', page_name: 'gamepass international:games:games:2017:reg:week 2',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>G57250<em>Bengals</em>vs<em>Texans</em>v2.mp4</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-09-22 09:55:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: texans-bengals
                title: TEXANS @ BENGALS - Coaches Film
                trimmedVideoDuration: ''
 [...]
[...]
