interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/config
  response:
    body:
      pretty:
        header: {id: website config, lastUpdate: '2018-09-08T12:03:35.326Z', title: '',
          version: '1.0'}
        modules:
          ADOBE_HEARTBEAT:
            APP_MEASUREMENT: {ACCOUNT: nflprod, CHARSET: UTF-8, TRACKING_SERVER: nfl.hb.omtrdc.net}
            MEDIA_CONFIGURATION: {APP_VERSION: Diva Player, CHANNEL: NFL GamePass
                - Prod., DEBUG_LOGGING: false, OVP: NFL GamePass OVP - Prod., PLAYER_NAME: Diva
                Player, SSL: false, TRACKING_SERVER: nfl.hb.omtrdc.net}
            VISITOR: {ID: F75C3025512D2C1D0A490D44@AdobeOrg, TRACKING_SERVER: smetrics.nfl.com}
          API:
            BASE_URL: https://www.nflgamepass.com/api/user
            CHECK_USER_NICKNAME: https://www.nflgamepass.com/api/user/api/users/v1/identity/existsusername
            CHECK_USER_SESSION: https://www.nflgamepass.com/api/user/api/users/v1/identity/isauthenticated
            CLIENT_ID: 42cc360e-6fbb-4472-9437-2f088b8730de
            CONTACT_FORM: https://nfl-functions-prd-we.azurewebsites.net/api/SendSupportEmail?code=9rsqW1AGlLP/9yFf77Dilan7/Ja88OwaaSMXHusHaW74kcITLBNFJw==
            DEVICE_TYPE: web
            FAVOURITE_TEAM_MATCHES: https://www.nflgamepass.com/api/en/content/v1/web/teams/:favouriteTeam/preferred-team
            GEOLOCALIZATION: https://www.nflgamepass.com/api/user/api/users/v1/geolocation
            GRANT_TYPES: {PASSWORD: password, REFRESH_TOKEN: refresh_token, SHIELD_AUTHENTICATION: shield_authentication}
            LIVE_VIDEOS: https://www.nflgamepass.com/api/en/content/v1/web/live/all
            LOGIN: https://www.nflgamepass.com/api/user/oauth/token
            LOGOUT: https://www.nflgamepass.com/api/user/api/users/v1/identity/logout
            NETWORK_EPISODES: https://www.nflgamepass.com/api/en/content/v1/web/network/:seasonSlug/:tvShowSlug/list
            NETWORK_PROGRAMS: https://www.nflgamepass.com/api/en/content/v1/web/network/programs
            PAYPAL_CHECKOUT_TOKEN: https://www.nflgamepass.com/api/user/api/users/v1/paypal/getcheckouttoken
            REFRESH_TOKEN: https://www.nflgamepass.com/api/user/oauth/token
            REGISTER: https://www.nflgamepass.com/api/user/api/users/v1/identity/register
            SOFT_ENTITLEMENT: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/softcheck
            TEAMS: https://www.nflgamepass.com/api/en/content/v1/common/teams
            TV_SHOWS: https://www.nflgamepass.com/api/en/content/v1/web/tv-programs/:showCategory/programs
            USER_ACCOUNT: https://www.nflgamepass.com/api/user/api/users/v1/subscription/myaccount
            USER_PROFILE: https://www.nflgamepass.com/api/user/api/users/v1/profile/me
            VIDEO_BY_SLUG: https://www.nflgamepass.com/api/en/content/v1/web/videos/:videoSlug/video
            VOCABULARY: https://www.nflgamepass.com/api/en/content/v1/web/voc
            ZUORA_AUTO_RENEWAL_ENABLE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/enableautorenewal
            ZUORA_AUTO_RENEWAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/cancelautorenewal
            ZUORA_CREDIT_CARD_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/creditcard
            ZUORA_CREDIT_CARD_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/creditcard
            ZUORA_ENABLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode/installments
            ZUORA_FREEMIUM_PRODUCT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/add
            ZUORA_FREE_TRIAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/freetrial
            ZUORA_IFRAME_CONFIGURATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/iframe
            ZUORA_PAYMENT_METHOD_UPDATE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/changepaymentmethod/creditcard
            ZUORA_PAYPAL_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/paypal
            ZUORA_PAYPAL_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/paypal
            ZUORA_TOGGLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode
            ZUORA_VALIDATE_PROMO_CODE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/preview/promocode
          COOKIES:
            COOKIES_POLICY: {duration: 30, name: gp_cp}
            DOMAIN: .nflgamepass.com
          COUNTRIES:
            ISO3611:
            - {isEuropean: true, isoCode: AX}
            - {isEuropean: true, isoCode: AL}
            - {isEuropean: false, isoCode: DZ}
            - {isEuropean: false, isoCode: AS}
            - {isEuropean: true, isoCode: AD}
            - {isEuropean: false, isoCode: AO}
            - {isEuropean: false, isoCode: AI}
            - {isEuropean: false, isoCode: AQ}
            - {isEuropean: false, isoCode: AG}
            - {isEuropean: false, isoCode: AR}
            - {isEuropean: true,[...]
- request:
    body: apiKey=3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp&loginID=REDACTED&password=REDACTED
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.us1.gigya.com/accounts.login
  response:
    body:
      pretty:
        UID: 8caecb9d8857dc3fd9c7b2ce9fcc5368
        UIDSignature: jDtHh78jWgQjQ5TXZdf4Pr4B8U0=
        apiVersion: 2
        callId: 8c80917930944b4dbfc8f445c4eeb536
        created: '2012-08-04T11:20:09.000Z'
        createdTimestamp: 1344079209
        errorCode: 0
        isActive: true
        isRegistered: true
        isVerified: true
        lastLogin: '2018-09-08T12:05:43.513Z'
        lastLoginTimestamp: 1536408343
        lastUpdated: '2018-09-04T06:49:25.683Z'
        lastUpdatedTimestamp: 1536043765683
        loginProvider: site
        newUser: false
        oldestDataUpdated: '2012-08-04T11:20:09.000Z'
        oldestDataUpdatedTimestamp: 1344079209000
        profile: REDACTED
        registered: '2018-03-02T04:03:59.927Z'
        registeredTimestamp: 1519963439
        sessionInfo: {cookieName: gac_3_EH6cZ6gBJgl94hXqcCex1M71QN8eHd9G-3a5wKNqPihlX1-WTim-URKv0vym4xKp,
          cookieValue: st2.NG4GulOF64K1IE9OoNl9wJF2bwk.ql_aOr5utCPQoWzYAFkJWg.Vx3PlNqPxRNmqrZQM1D80egy9Jg}
        signatureTimestamp: '1536408343'
        socialProviders: site
        statusCode: 200
        statusReason: OK
        time: '2018-09-08T12:05:43.517Z'
        verified: '2018-03-02T04:03:59.786Z'
        verifiedTimestamp: 1519963439786
      string: "{\r\n  \"callId\": \"8c80917930944b4dbfc8f445c4eeb536\",\r\n  \"errorCode\"\
        : 0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\"\
        : \"OK\",\r\n  \"time\": \"2018-09-08T12:05:43.517Z\",\r\n  \"registeredTimestamp\"\
        : 1519963439,\r\n  \"UID\": \"8caecb9d8857dc3fd9c7b2ce9fcc5368\",\r\n  \"\
        UIDSignature\": \"jDtHh78jWgQjQ5TXZdf4Pr4B8U0=\",\r\n  \"signatureTimestamp\"\
        : \"1536408343\",\r\n  \"created\": \"2012-08-04T11:20:09.000Z\"[...]
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&errorCode=0&grant_type=password&password=REDACTED&signature=jDtHh78jWgQjQ5TXZdf4Pr4B8U0%3D&ts=1536408343&username=REDACTED&uuid=8caecb9d8857dc3fd9c7b2ce9fcc5368
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_1d36a0ba9d02f532a5a67a4d097b98493c788952c98ff7a43562c80a17c34ba1,
        expires_in: 3539, refresh_token: FAKE_TOKEN_224af7d5f1585d7225261def62bf4607f6aa952f014184da062e0743b2c60cae,
        token_type: bearer}
      string: '{"access_token":"FAKE_TOKEN_1d36a0ba9d02f532a5a67a4d097b98493c788952c98ff7a43562c80a17c34ba1","token_type":"bearer","expires_in":3539,"refresh_token":"FAKE_TOKEN_224af7d5f1585d7225261def62bf4607f6aa952f014184da062e0743b2c60cae"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/data
  response:
    body:
      pretty:
        header: {id: network, lastUpdate: '2018-09-08T12:03:30.819Z', title: '', version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:nfl network:nfl network:landing', site_name: gamepass
              international, site_section: nfl network, site_subsection: nfl network}
          networkEpg:
            futurePrograms:
            - {description: '"Good Morning Football: Weekend" - Catch up on everything
                NFL with the latest news, fantasy updates and a look ahead to Sunday''s
                games. ', duration: 3.0, featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22513596, repeats: null, shortDescription: '"Good
                Morning Football: Weekend" - Catch up on everything NFL with the latest
                news, fantasy updates and a look ahead to Sunday''s games. ', showLinkCode: 'Null',
              startDayEST: 8, startMonthEST: 9, startTime: 1536411600000, startTimeUTC: '2018-09-08T13:00:00Z',
              team1: null, team2: null, title: GOOD MORNING FOOTBALL WKND}
            - {description: '"Good Morning Football: Weekend" - Catch up on everything
                NFL with the latest news, fantasy updates and a look ahead to Sunday''s
                games. ', duration: 3.0, featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22513597, repeats: null, shortDescription: '"Good
                Morning Football: Weekend" - Catch up on everything NFL with the latest
                news, fantasy updates and a look ahead to Sunday''s games. ', showLinkCode: 'Null',
              startDayEST: 8, startMonthEST: 9, startTime: 1536422400000, startTimeUTC: '2018-09-08T16:00:00Z',
              team1: null, team2: null, title: GOOD MORNING FOOTBALL WKND}
            - {description: '"NFL Fantasy Live" - Michael Fabiano and our NFL.com
                fantasy experts get you all the latest news and analysis you need
                to dominate your fantasy matchup.', duration: 1.0, featured: 'false',
              logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22513598, repeats: r, shortDescription: '"NFL Fantasy
                Live" - Michael Fabiano and our NFL.com fantasy experts get you all
                the latest news and analysis you need to dominate your fantasy matchup.',
              showLinkCode: 'Null', startDayEST: 8, startMonthEST: 9, startTime: 1536433200000,
              startTimeUTC: '2018-09-08T19:00:00Z', team1: null, team2: null, title: NFL
                FANTASY LIVE}
            - {description: '"NFL Football" - 2018 Week 1: Atlanta Falcons vs. Philadelphia
                Eagles (From 9/06/18)', duration: 3.0, featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22513599, repeats: null, shortDescription: '"NFL
                Football" - 2018 Week 1: Atlanta Falcons vs. Philadelphia Eagles (From
                9/06/18)', showLinkCode: 'Null', startDayEST: 8, startMonthEST: 9,
              startTime: 1536436800000, startTimeUTC: '2018-09-08T20:00:00Z', team1: null,
              team2: null, title: FULL GAME BROADCAST}
            - {description: "\"NFL GameDay Pick'Em\" - \n\nOur team of analysts pick\
                \ every game, make score predictions, and tell you which players will\
                \ have a great week. Game picks by the gut, the film, and the analytics. ",
              duration: 1.0, featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22513600, repeats: null, shortDescription: "\"\
                NFL GameDay Pick'Em\" - \n\nOur team of analysts pick every game,\
                \ make score predictions, and tell you which players will have a great\
                \ week. Game picks by the gut, the film, and the analytics. ", showLinkCode: 'Null',
              startDayEST: 8, startMonthEST: 9, startTime: 1536447600000, startTimeUTC: '2018-09-08T23:00:00Z',
              team1: null, team2: null, title: NFL GAMEDAY PICK'EM}
            - {description: '"Philly Special: Doug Pederson & the 2017 Eagles" - A
                look at the 2017 Eagles season through the eyes of the Philadelphia
                coaching staff. ', duration: 1.0, featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22513601, repeats: null, shortDescription: '"Philly
                Special: Doug Pederson & the 2017 Eagles" - A look at the 2017 Eagles
                season through the eyes of the Philadelphia coaching staff. ', showLinkCode: 'Null',
              startDayEST: 8, startMonthEST: 9, startTime: 1536451200000, startTimeUTC: '2018-09-09T00:00:00Z',
              team1: null, team2: null, title: NFL NETWORK ORIGINAL}
            - {description: '"America''s Game" - 2017 Philadelphia Eagles - The story
                of the 2017 Philadelphia Eagles and their run to Super[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/diva/diva/settings/24h7d/html5
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<settings version=\"\
        31_07_2018_0001_24h7d_html5_prod\">\r\n  <advertisement enabled=\"false\"\
        \ />\r\n  <behaviour>\r\n    <parameter name=\"isCommentaryEnabled\" value=\"\
        false\" />\r\n    <parameter name=\"isScoreEnabled\" value=\"false\" />\r\n\
        \    <parameter name=\"isTitleEnabled\" value=\"false\" />\r\n  </behaviour>\r\
        \n  <assets>\r\n    <parameter name=\"videoThumbnailUrl\" value=\"https://www.nflgamepass.com/api/images/image/private/t_16-9_1920/twwekbzhieranl5r9qr6\"\
        \ />\r\n  </assets>\r\n  <logging enabled=\"false\" />\r\n  <translations>\r\
        \n    <parameter name=\"vocabularySource\" value=\"https://www.nflgamepass.com/api/diva/vocabulary/vocabulary-en-GB.xml\"\
        \ />\r\n  </translations>\r\n  <video>\r\n    <!--<parameter name = \"allowJSVideoUrlStage\"\
        \ value = \"false\"/>-->\r\n    <!--<parameter name = \"allowPathResolver\"\
        \ value = \"false\"/>-->\r\n    <parameter name=\"baseExpectedVideoDuration\"\
        \ value=\"08:00:00\" />\r\n    <!--<parameter name = \"closedCaption\" value\
        \ = \"false\"/>-->\r\n    <!--<parameter name = \"isVREnabledFor360video\"\
        \ value = \"true\"/>-->\r\n    <parameter name=\"liveBackOff\" value=\"00:00:20\"\
        \ />\r\n    <!--<parameter name = \"maxBitrateKbps\" value = \"3500\"/>-->\r\
        \n    <!--<parameter name = \"offsetExpectedVideoDuration\" value = \"00:15:00\"\
        />-->\r\n    <parameter name=\"retryOnVideoError\" value=\"0\" />\r\n    <!--<parameter\
        \ name = \"trackVideodataManifest\" value = \"true\"/>-->\r\n    <parameter\
        \ name=\"startingBitrateKbps\" value=\"600\" />\r\n    <!--<parameter name\
        \ = \"userAudioSelection\" value = \"false\"/>-->\r\n    <!--<parameter name\
        \ = \"videoAnalyticsEventFrequency\" value = \"00:00:20\"/>-->\r\n    <!--<parameter\
        \ name = \"iosInternalOverrides\" value =\"{ \\\"iPhone7,1=\"\"\\\": 3238279\
        \ }\"/>-->\r\n    <!--<parameter name = \"videoPlatformsPriority\" value=\"\
        HLS,dash,chromecast-v2\" />-->\r\n    <!--<parameter name = \"androidForceSurfaceView\"\
        \ value=\"false\" />-->\r\n  </video>\r\n  <videoData enabled=\"true\">\r\n\
        \    <parameter name=\"videoDataPath\" value=\"https://www.nflgamepass.com/api/en/content/v1/diva/{V.ID}\"\
        \ />\r\n    <parameter name=\"pollingInterval\" value=\"00:05:00\" />\r\n\
        \  </videoData>\r\n  <entitlementCheck encoded=\"false\" enabled=\"true\"\
        >\r\n    <parameter name=\"processingUrlCallPath\" value=\"https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/open\"\
        \ />\r\n    <parameter name=\"heartBeatCallPath\" value=\"https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/heartbeat\"\
        \ />\r\n    <parameter name=\"userCookieName\" value=\"\" />\r\n    <!--to\
        \ insert the agreeded name -->\r\n    <parameter name=\"callback\" value=\"\
        \" />\r\n    <parameter name=\"heartbeatInterval\" value=\"00:03:00\" />\r\
        \n    <parameter name=\"secretTxt\" value=\"\" />\r\n    <parameter name=\"\
        other\" value=\"{Run.SessionID}|{Settings.cs1}|{Settings.cs2}|{Settings.cs3}|{Settings.cs4}|{Settings.cs5}\"\
        \ />\r\n  </entitlementCheck>\r\n  <tracking enabled=\"true\">\r\n    <items>\r\
        \n      <item>\r\n        <parameter name=\"type\" value=\"TagManager-html5\"\
        \ />\r\n        <parameter name=\"setting1\" value=\"GTM-MFDKV77\" />\r\n\
        \        <parameter name=\"setting2\" value=\"https://www.nflgamepass.com/api/diva/gtm/tracking_configuration_40.json\"\
        \ />\r\n      </item>\r\n    </items>\r\n  </tracking>\r\n</settings>\r\n\
        <!--DivaS:cB0BCUdR4J05OrmDHY94NApiEpo=-->"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/diva/86696b55-9d15-4625-856c-d88a8cdb9f33
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<video>\r\n  <assetId>86696b55-9d15-4625-856c-d88a8cdb9f33</assetId>\r\
        \n  <videoId>86696b55-9d15-4625-856c-d88a8cdb9f33</videoId>\r\n  <alternateId>3246c820-59df-4013-8a66-96dcf9eb55e6</alternateId>\r\
        \n  <isPrivate>false</isPrivate>\r\n  <title>NFL Network</title>\r\n  <description><![CDATA[NFL\
        \ Network Channel]]></description>\r\n  <thumbnailUrl><![CDATA[]]></thumbnailUrl>\r\
        \n  <assetState>2</assetState>\r\n  <isMultistream>false</isMultistream>\r\
        \n  <events />\r\n  <videoSources>\r\n    <videoSource format=\"HLS\" name=\"\
        HLS\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"ConnectTv\"\
        \ name=\"ConnectTv\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\
        \n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=connecttv)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"ChromeCast\"\
        \ name=\"ChromeCast\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\
        \n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=chromecast)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n  </videoSources>\r\n  <duration\
        \ />\r\n  <trimIn />\r\n  <trimOut />\r\n  <timeCodeIn>20180101000100000</timeCodeIn>\r\
        \n  <audioTracks default=\"en-US\">\r\n    <audioTrack id=\"en-US\" lang=\"\
        en-US\" enabled=\"true\" displayName=\"English (US)\">English (US)</audioTrack>\r\
        \n  </audioTracks>\r\n  <preroll template=\"\" />\r\n  <postroll template=\"\
        \" />\r\n  <kind><![CDATA[Live]]></kind>\r\n  <category1><![CDATA[NTWL]]></category1>\r\
        \n  <customAttributes>\r\n    <attribute key=\"area\" value=\"video\" />\r\
        \n    <attribute key=\"section\" value=\"General\" />\r\n  </customAttributes>\r\
        \n  <lang>en-US</lang>\r\n  <wcmEntityid>3246c820-59df-4013-8a66-96dcf9eb55e6</wcmEntityid>\r\
        \n</video>"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Type": "1", "User": "", "VideoId": "86696b55-9d15-4625-856c-d88a8cdb9f33",
      "VideoSource": "https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)",
      "VideoKind": "Video", "AssetState": "3", "PlayerType": "HTML5", "other": "993fd4bd-222c-4795-8430-f0178ad1d09a|FAKE_TOKEN_abee56378d97439009347836e5c29002906e61c93b99c6fe0c59e8e4885b9c2a|web|FAKE_TOKEN_abee56378d97439009347836e5c29002906e61c93b99c6fe0c59e8e4885b9c2a|undefined|Firefox"}'
    headers:
    method: POST
    uri: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/open
  response:
    body:
      pretty: {Action: '', ActionParameters: '', ContentUrl: 'https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1536408254~exp=1536408434~acl=/*~hmac=5b7c79660c411a6c1880443670b3ee777397eb3ac705b6895a5904b0d78d0888&hdcore=2.11.3',
        HeartBeatTime: 0, Message: '', Response: OK, ResponseCode: 1, Signature: B6164E6FB2DA8E6373BA5DD9DFE75D5A632F5F92}
      string: '{"Response":"OK","ResponseCode":1,"Message":"","Action":"","ContentUrl":"https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1536408254~exp=1536408434~acl=/*~hmac=5b7c79660c411a6c1880443670b3ee777397eb3ac705b6895a5904b0d78d0888&hdcore=2.11.3","HeartBeatTime":0,"Signature":"B6164E6FB2DA8E6373BA5DD9DFE75D5A632F5F92","ActionParameters":""}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
