interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/config
  response:
    body:
      pretty:
        header: {id: website config, lastUpdate: '2018-09-13T20:01:36.313Z', title: '',
          version: '1.0'}
        modules:
          ADOBE_HEARTBEAT:
            APP_MEASUREMENT: {ACCOUNT: nflprod, CHARSET: UTF-8, TRACKING_SERVER: nfl.hb.omtrdc.net}
            MEDIA_CONFIGURATION: {APP_VERSION: Diva Player, CHANNEL: NFL GamePass
                - Prod., DEBUG_LOGGING: false, OVP: NFL GamePass OVP - Prod., PLAYER_NAME: Diva
                Player, SSL: false, TRACKING_SERVER: nfl.hb.omtrdc.net}
            VISITOR: {ID: F75C3025512D2C1D0A490D44@AdobeOrg, TRACKING_SERVER: smetrics.nfl.com}
          API:
            BASE_URL: https://www.nflgamepass.com/api/user
            CHECK_USER_NICKNAME: https://www.nflgamepass.com/api/user/api/users/v1/identity/existsusername
            CHECK_USER_SESSION: https://www.nflgamepass.com/api/user/api/users/v1/identity/isauthenticated
            CLIENT_ID: 42cc360e-6fbb-4472-9437-2f088b8730de
            CONTACT_FORM: https://nfl-functions-prd-we.azurewebsites.net/api/SendSupportEmail?code=9rsqW1AGlLP/9yFf77Dilan7/Ja88OwaaSMXHusHaW74kcITLBNFJw==
            DEVICE_TYPE: web
            FAVOURITE_TEAM_MATCHES: https://www.nflgamepass.com/api/en/content/v1/web/teams/:favouriteTeam/preferred-team
            GEOLOCALIZATION: https://www.nflgamepass.com/api/user/api/users/v1/geolocation
            GRANT_TYPES: {PASSWORD: password, REFRESH_TOKEN: refresh_token, SHIELD_AUTHENTICATION: shield_authentication}
            LIVE_VIDEOS: https://www.nflgamepass.com/api/en/content/v1/web/live/all
            LOGIN: https://www.nflgamepass.com/api/user/oauth/token
            LOGOUT: https://www.nflgamepass.com/api/user/api/users/v1/identity/logout
            NETWORK_EPISODES: https://www.nflgamepass.com/api/en/content/v1/web/network/:seasonSlug/:tvShowSlug/list
            NETWORK_PROGRAMS: https://www.nflgamepass.com/api/en/content/v1/web/network/programs
            PAYPAL_CHECKOUT_TOKEN: https://www.nflgamepass.com/api/user/api/users/v1/paypal/getcheckouttoken
            REFRESH_TOKEN: https://www.nflgamepass.com/api/user/oauth/token
            REGISTER: https://www.nflgamepass.com/api/user/api/users/v1/identity/register
            SOFT_ENTITLEMENT: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/softcheck
            TEAMS: https://www.nflgamepass.com/api/en/content/v1/common/teams
            TV_SHOWS: https://www.nflgamepass.com/api/en/content/v1/web/tv-programs/:showCategory/programs
            USER_ACCOUNT: https://www.nflgamepass.com/api/user/api/users/v1/subscription/myaccount
            USER_PROFILE: https://www.nflgamepass.com/api/user/api/users/v1/profile/me
            VIDEO_BY_SLUG: https://www.nflgamepass.com/api/en/content/v1/web/videos/:videoSlug/video
            VOCABULARY: https://www.nflgamepass.com/api/en/content/v1/web/voc
            ZUORA_AUTO_RENEWAL_ENABLE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/enableautorenewal
            ZUORA_AUTO_RENEWAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/cancelautorenewal
            ZUORA_CREDIT_CARD_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/creditcard
            ZUORA_CREDIT_CARD_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/creditcard
            ZUORA_ENABLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode/installments
            ZUORA_FREEMIUM_PRODUCT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/add
            ZUORA_FREE_TRIAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/freetrial
            ZUORA_IFRAME_CONFIGURATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/iframe
            ZUORA_PAYMENT_METHOD_UPDATE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/changepaymentmethod/creditcard
            ZUORA_PAYPAL_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/paypal
            ZUORA_PAYPAL_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/paypal
            ZUORA_TOGGLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode
            ZUORA_VALIDATE_PROMO_CODE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/preview/promocode
          COOKIES:
            COOKIES_POLICY: {duration: 30, name: gp_cp}
            DOMAIN: .nflgamepass.com
          COUNTRIES:
            ISO3611:
            - {isEuropean: true, isoCode: AX}
            - {isEuropean: true, isoCode: AL}
            - {isEuropean: false, isoCode: DZ}
            - {isEuropean: false, isoCode: AS}
            - {isEuropean: true, isoCode: AD}
            - {isEuropean: false, isoCode: AO}
            - {isEuropean: false, isoCode: AI}
            - {isEuropean: false, isoCode: AQ}
            - {isEuropean: false, isoCode: AG}
            - {isEuropean: false, isoCode: AR}
            - {isEuropean: true,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/seasons
  response:
    body:
      pretty:
        header: {id: Home Games, lastUpdate: '2018-09-13T19:59:38.293Z', title: '',
          version: '1'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:games:games:landing', site_name: gamepass
              international, site_section: games, site_subsection: games}
          mainMenu:
            seasonStructureList:
            - season: 2018
              seasonTypes:
              - displayText: {seasonType: SeasonTypeTranslationTag}
                name: pre
                seasonType: pre
                weeks:
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/0/list',
                    ref: self}
                  number: 0
                  weekNameAbbr: hof
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/1/list',
                    ref: self}
                  number: 1
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.akamaized.net/v1/web/games/2018/pre/2/list',
                    ref: self}
                  number: 2
                  weekNameAbbr: p
                - _links:
                  - {href: 'https://nflgp-prd.aka[...]
