interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/config
  response:
    body:
      pretty:
        header: {id: website config, lastUpdate: '2018-09-02T10:18:55.619Z', title: '',
          version: '1.0'}
        modules:
          ADOBE_HEARTBEAT:
            APP_MEASUREMENT: {ACCOUNT: nflprod, CHARSET: UTF-8, TRACKING_SERVER: nfl.hb.omtrdc.net}
            MEDIA_CONFIGURATION: {APP_VERSION: Diva Player, CHANNEL: NFL GamePass
                - Prod., DEBUG_LOGGING: false, OVP: NFL GamePass OVP - Prod., PLAYER_NAME: Diva
                Player, SSL: false, TRACKING_SERVER: nfl.hb.omtrdc.net}
            VISITOR: {ID: F75C3025512D2C1D0A490D44@AdobeOrg, TRACKING_SERVER: smetrics.nfl.com}
          API:
            BASE_URL: https://www.nflgamepass.com/api/user
            CHECK_USER_NICKNAME: https://www.nflgamepass.com/api/user/api/users/v1/identity/existsusername
            CHECK_USER_SESSION: https://www.nflgamepass.com/api/user/api/users/v1/identity/isauthenticated
            CLIENT_ID: 42cc360e-6fbb-4472-9437-2f088b8730de
            CONTACT_FORM: https://nfl-functions-prd-we.azurewebsites.net/api/SendSupportEmail?code=9rsqW1AGlLP/9yFf77Dilan7/Ja88OwaaSMXHusHaW74kcITLBNFJw==
            DEVICE_TYPE: web
            FAVOURITE_TEAM_MATCHES: https://www.nflgamepass.com/api/en/content/v1/web/teams/:favouriteTeam/preferred-team
            GEOLOCALIZATION: https://www.nflgamepass.com/api/user/api/users/v1/geolocation
            GRANT_TYPES: {PASSWORD: password, REFRESH_TOKEN: refresh_token, SHIELD_AUTHENTICATION: shield_authentication}
            LIVE_VIDEOS: https://www.nflgamepass.com/api/en/content/v1/web/live/all
            LOGIN: https://www.nflgamepass.com/api/user/oauth/token
            LOGOUT: https://www.nflgamepass.com/api/user/api/users/v1/identity/logout
            NETWORK_EPISODES: https://www.nflgamepass.com/api/en/content/v1/web/network/:seasonSlug/:tvShowSlug/list
            NETWORK_PROGRAMS: https://www.nflgamepass.com/api/en/content/v1/web/network/programs
            PAYPAL_CHECKOUT_TOKEN: https://www.nflgamepass.com/api/user/api/users/v1/paypal/getcheckouttoken
            REFRESH_TOKEN: https://www.nflgamepass.com/api/user/oauth/token
            REGISTER: https://www.nflgamepass.com/api/user/api/users/v1/identity/register
            SOFT_ENTITLEMENT: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/softcheck
            TEAMS: https://www.nflgamepass.com/api/en/content/v1/common/teams
            TV_SHOWS: https://www.nflgamepass.com/api/en/content/v1/web/tv-programs/:showCategory/programs
            USER_ACCOUNT: https://www.nflgamepass.com/api/user/api/users/v1/subscription/myaccount
            USER_PROFILE: https://www.nflgamepass.com/api/user/api/users/v1/profile/me
            VIDEO_BY_SLUG: https://www.nflgamepass.com/api/en/content/v1/web/videos/:videoSlug/video
            VOCABULARY: https://www.nflgamepass.com/api/en/content/v1/web/voc
            ZUORA_AUTO_RENEWAL_ENABLE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/enableautorenewal
            ZUORA_AUTO_RENEWAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/cancelautorenewal
            ZUORA_CREDIT_CARD_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/creditcard
            ZUORA_CREDIT_CARD_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/creditcard
            ZUORA_ENABLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode/installments
            ZUORA_FREEMIUM_PRODUCT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/add
            ZUORA_FREE_TRIAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/freetrial
            ZUORA_IFRAME_CONFIGURATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/iframe
            ZUORA_PAYMENT_METHOD_UPDATE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/changepaymentmethod/creditcard
            ZUORA_PAYPAL_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/paypal
            ZUORA_PAYPAL_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/paypal
            ZUORA_TOGGLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode
            ZUORA_VALIDATE_PROMO_CODE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/preview/promocode
          COOKIES:
            COOKIES_POLICY: {duration: 30, name: gp_cp}
            DOMAIN: .nflgamepass.com
          COUNTRIES:
            ISO3611:
            - {isEuropean: true, isoCode: AX}
            - {isEuropean: true, isoCode: AL}
            - {isEuropean: false, isoCode: DZ}
            - {isEuropean: false, isoCode: AS}
            - {isEuropean: true, isoCode: AD}
            - {isEuropean: false, isoCode: AO}
            - {isEuropean: false, isoCode: AI}
            - {isEuropean: false, isoCode: AQ}
            - {isEuropean: false, isoCode: AG}
            - {isEuropean: false, isoCode: AR}
            - {isEuropean: true,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/games/2017/reg/8/list
  response:
    body:
      pretty:
        header: {id: game list, lastUpdate: '2018-09-02T10:21:22.980Z', title: '',
          version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: '2017:reg:Week
              8', page_name: 'gamepass international:games:games:2017:reg:week 8',
            site_name: gamepass international, site_section: games, site_subsection: games}
          weekCompletedGames:
            content:
            - backgroundImage: null
              coachfilmVideo:
                description: "<p>MIA @ BAL\_</p>\n\n<p>G57341<em>Ravens</em>vs<em>Dolphins</em>v2.mp4</p>\n"
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-11-01 11:38:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: dolphins-ravens-coaches
                title: Dolphins @ Ravens - Coaches
                trimmedVideoDuration: ''
                videoDuration: '4409.152'
                videoId: e510971c-1a50-44c9-9553-c285a35141fc
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-8
              condensedVideo:
                description: '<p>GI40<em>Reg8</em>01Miami<em>Dolphins</em>at<em>Baltimore</em>Ravens<em>1080</em>_</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Condensed game
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-10-27 06:09:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: miami-dolphins-baltimore-ravens-reg8-game-in-40
                title: Miami Dolphins @ Baltimore Ravens - Reg8 - Game In 40'
                trimmedVideoDuration: ''
                videoDuration: '2119.733'
                videoId: 69fd4c38-311d-4fc3-a1f0-bc5681c68cd0
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: ''
                vocGameTopTag: null
                week: week-8
              displayText: {live: video-live, liveIn: video-live-in, ondemand: video-ondemand,
                scheduled: video-scheduled}
              gameDateTimeUtc: '2017-10-27T00:25:00.000Z'
              gameId: 2017102600
              highlightsVideo: null
              homeCityState: Baltimore
              homeNickName: Ravens
              homeScore: {pointTotal: 40}
              homeTeamAbbr: BAL
              homeTeamId: '0325'
              homeTeamResult: winner
              phase: FINAL
              redZone: false
              redZoneLiveVideo: null
              season: 2017
              seasonType: REG
              siteCity: Baltimore
              siteFullName: M&T Bank Stadium
              siteId: 3695
              video:
                description: '<p>MIA@BAL</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Game video
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-10-27 08:30:00Z'
                season: season-2017
                seasonType: seasontype-reg
                slug: miami-dolphins-baltimore-ravens-4
                title: Miami Dolphins @ Baltimore Ravens
                trimmedVideoDuration: ''
                videoDuration: '8365.3'
                videoId: 9f411680-eacd-4cde-b500-d8bfdbc67f0f
                videoStatus: ONDEMAND
                videoThumbnail:
                  overridenFormats: {}
                  templateUrl: https://nflgp-prd.akamaized.net/api/images/image/private/{formatInstructions}/avkbaaeibrzzsrllmxcy
                vocGameTopTag: null
                week: week-8
              videoStatus: ONDEMAND
              visitorCityState: Miami
              visitorNickName: Dolphins
              visitorScore: {pointTotal: 0}
              visitorTeamAbbr: MIA
              visitorTeamId: '2700'
              visitorTeamResult: loser
              week: 8
              weekName: Week 8
              winner: Ravens
            - backgroundImage: null
              coachfilmVideo:
                description: '<p>MIN @ CLE</p>


                  <p>G57342<em>Browns</em>vs<em>Vikings</em>v2.mp4</p>

                  '
                isBasic: false
                isGameOfTheWeek: false
                kind: Coach film
                nflprogram: null
                nflprogramcode: null
                scheduleDate: '2017-11-01 12:19:00Z'
                season: season-2017
                seasonT[...]
[...]
