interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/config
  response:
    body:
      pretty:
        header: {id: website config, lastUpdate: '2018-09-04T06:59:56.261Z', title: '',
          version: '1.0'}
        modules:
          ADOBE_HEARTBEAT:
            APP_MEASUREMENT: {ACCOUNT: nflprod, CHARSET: UTF-8, TRACKING_SERVER: nfl.hb.omtrdc.net}
            MEDIA_CONFIGURATION: {APP_VERSION: Diva Player, CHANNEL: NFL GamePass
                - Prod., DEBUG_LOGGING: false, OVP: NFL GamePass OVP - Prod., PLAYER_NAME: Diva
                Player, SSL: false, TRACKING_SERVER: nfl.hb.omtrdc.net}
            VISITOR: {ID: F75C3025512D2C1D0A490D44@AdobeOrg, TRACKING_SERVER: smetrics.nfl.com}
          API:
            BASE_URL: https://www.nflgamepass.com/api/user
            CHECK_USER_NICKNAME: https://www.nflgamepass.com/api/user/api/users/v1/identity/existsusername
            CHECK_USER_SESSION: https://www.nflgamepass.com/api/user/api/users/v1/identity/isauthenticated
            CLIENT_ID: 42cc360e-6fbb-4472-9437-2f088b8730de
            CONTACT_FORM: https://nfl-functions-prd-we.azurewebsites.net/api/SendSupportEmail?code=9rsqW1AGlLP/9yFf77Dilan7/Ja88OwaaSMXHusHaW74kcITLBNFJw==
            DEVICE_TYPE: web
            FAVOURITE_TEAM_MATCHES: https://www.nflgamepass.com/api/en/content/v1/web/teams/:favouriteTeam/preferred-team
            GEOLOCALIZATION: https://www.nflgamepass.com/api/user/api/users/v1/geolocation
            GRANT_TYPES: {PASSWORD: password, REFRESH_TOKEN: refresh_token, SHIELD_AUTHENTICATION: shield_authentication}
            LIVE_VIDEOS: https://www.nflgamepass.com/api/en/content/v1/web/live/all
            LOGIN: https://www.nflgamepass.com/api/user/oauth/token
            LOGOUT: https://www.nflgamepass.com/api/user/api/users/v1/identity/logout
            NETWORK_EPISODES: https://www.nflgamepass.com/api/en/content/v1/web/network/:seasonSlug/:tvShowSlug/list
            NETWORK_PROGRAMS: https://www.nflgamepass.com/api/en/content/v1/web/network/programs
            PAYPAL_CHECKOUT_TOKEN: https://www.nflgamepass.com/api/user/api/users/v1/paypal/getcheckouttoken
            REFRESH_TOKEN: https://www.nflgamepass.com/api/user/oauth/token
            REGISTER: https://www.nflgamepass.com/api/user/api/users/v1/identity/register
            SOFT_ENTITLEMENT: https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/softcheck
            TEAMS: https://www.nflgamepass.com/api/en/content/v1/common/teams
            TV_SHOWS: https://www.nflgamepass.com/api/en/content/v1/web/tv-programs/:showCategory/programs
            USER_ACCOUNT: https://www.nflgamepass.com/api/user/api/users/v1/subscription/myaccount
            USER_PROFILE: https://www.nflgamepass.com/api/user/api/users/v1/profile/me
            VIDEO_BY_SLUG: https://www.nflgamepass.com/api/en/content/v1/web/videos/:videoSlug/video
            VOCABULARY: https://www.nflgamepass.com/api/en/content/v1/web/voc
            ZUORA_AUTO_RENEWAL_ENABLE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/enableautorenewal
            ZUORA_AUTO_RENEWAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/cancelautorenewal
            ZUORA_CREDIT_CARD_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/creditcard
            ZUORA_CREDIT_CARD_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/creditcard
            ZUORA_ENABLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode/installments
            ZUORA_FREEMIUM_PRODUCT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/add
            ZUORA_FREE_TRIAL_STOP: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/freetrial
            ZUORA_IFRAME_CONFIGURATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/iframe
            ZUORA_PAYMENT_METHOD_UPDATE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/changepaymentmethod/creditcard
            ZUORA_PAYPAL_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/purchase/paypal
            ZUORA_PAYPAL_UPGRADE_PAYMENT_REGISTRATION: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/upgrade/paypal
            ZUORA_TOGGLE_PAYMENT_VIA_INSTALLMENTS: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/paymentmode
            ZUORA_VALIDATE_PROMO_CODE: https://www.nflgamepass.com/api/user/api/users/v1/subscription/zuora/preview/promocode
          COOKIES:
            COOKIES_POLICY: {duration: 30, name: gp_cp}
            DOMAIN: .nflgamepass.com
          COUNTRIES:
            ISO3611:
            - {isEuropean: true, isoCode: AX}
            - {isEuropean: true, isoCode: AL}
            - {isEuropean: false, isoCode: DZ}
            - {isEuropean: false, isoCode: AS}
            - {isEuropean: true, isoCode: AD}
            - {isEuropean: false, isoCode: AO}
            - {isEuropean: false, isoCode: AI}
            - {isEuropean: false, isoCode: AQ}
            - {isEuropean: false, isoCode: AG}
            - {isEuropean: false, isoCode: AR}
            - {isEuropean: true,[...]
- request:
    body: client_id=42cc360e-6fbb-4472-9437-2f088b8730de&username=REDACTED&password=REDACTED&grant_type=password
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.nflgamepass.com/api/user/oauth/token
  response:
    body:
      pretty: {access_token: FAKE_TOKEN_blah4,
        expires_in: 3539, refresh_token: FAKE_TOKEN_blah4,
        token_type: bearer}
      string: '{"access_token":"FAKE_TOKEN_blah4","token_type":"bearer","expires_in":3539,"refresh_token":"FAKE_TOKEN_blah4"}'
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/web/network/data
  response:
    body:
      pretty:
        header: {id: network, lastUpdate: '2018-09-04T07:04:14.591Z', title: '', version: '1.0'}
        modules:
          analytics: {content_type: index, language: en_US, page_detail: landing,
            page_name: 'gamepass international:nfl network:nfl network:landing', site_name: gamepass
              international, site_section: nfl network, site_subsection: nfl network}
          networkEpg:
            futurePrograms:
            - {description: '"NFL Fantasy Live: 2018 Season Preview" - The NFL Network
                experts tell you which players to target and who to steer clear of
                in order to dominate your fantasy league this season.', duration: 2.0,
              featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22460079, repeats: null, shortDescription: '"NFL
                Fantasy Live: 2018 Season Preview" - The NFL Network experts tell
                you which players to target and who to steer clear of in order to
                dominate your fantasy league this season.', showLinkCode: 'Null',
              startDayEST: 4, startMonthEST: 9, startTime: 1536048000000, startTimeUTC: '2018-09-04T08:00:00Z',
              team1: null, team2: null, title: NFL FANTASY LIVE}
            - {description: '"NFL Total Access" - NFL Network''s nightly flagship
                program brings you all the latest news, opinions, highlights and interviews
                from around the NFL. ', duration: 1.0, featured: 'false', logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22463195, repeats: r, shortDescription: '"NFL Total
                Access" - NFL Network''s nightly flagship program brings you all the
                latest news, opinions, highlights and interviews from around the NFL. ',
              showLinkCode: 'Null', startDayEST: 4, startMonthEST: 9, startTime: 1536055200000,
              startTimeUTC: '2018-09-04T10:00:00Z', team1: null, team2: null, title: NFL
                TOTAL ACCESS}
            - {description: '"Good Morning Football" - Catch up on everything NFL
                with the latest news, highlights, and trending topics from across
                the football world and beyond.', duration: 3.0, featured: 'false',
              logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22463196, repeats: p, shortDescription: '"Good
                Morning Football" - Catch up on everything NFL with the latest news,
                highlights, and trending topics from across the football world and
                beyond.', showLinkCode: 'Null', startDayEST: 4, startMonthEST: 9,
              startTime: 1536058800000, startTimeUTC: '2018-09-04T11:00:00Z', team1: null,
              team2: null, title: GOOD MORNING FOOTBALL}
            - {description: '"Good Morning Football" - Catch up on everything NFL
                with the latest news, highlights, and trending topics from across
                the football world and beyond.', duration: 3.0, featured: 'false',
              logo: 'http://i.nflcdn.com/static/site/img/nflnetwork/1024logos/nfl-network.png',
              month: 9, programId: 22463197, repeats: r, shortDescription: '"Good
                Morning Football" - Ca[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/diva/diva/settings/24h7d/html5
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<settings version=\"\
        31_07_2018_0001_24h7d_html5_prod\">\r\n  <advertisement enabled=\"false\"\
        \ />\r\n  <behaviour>\r\n    <parameter name=\"isCommentaryEnabled\" value=\"\
        false\" />\r\n    <parameter name=\"isScoreEnabled\" value=\"false\" />\r\n\
        \    <parameter name=\"isTitleEnabled\" value=\"false\" />\r\n  </behaviour>\r\
        \n  <assets>\r\n    <parameter name=\"videoThumbnailUrl\" value=\"https://www.nflgamepass.com/api/images/image/private/t_16-9_1920/twwekbzhieranl5r9qr6\"\
        \ />\r\n  </assets>\r\n  <logging enabled=\"false\" />\r\n  <translations>\r\
        \n    <parameter name=\"vocabularySource\" value=\"https://www.nflgamepass.com/api/diva/vocabulary/vocabulary-en-GB.xml\"\
        \ />\r\n  </translations>\r\n  <video>\r\n    <!--<parameter name = \"allowJSVideoUrlStage\"\
        \ value = \"false\"/>-->\r\n    <!--<parameter name = \"allowPathResolver\"\
        \ value = \"false\"/>-->\r\n    <parameter name=\"baseExpectedVideoDuration\"\
        \ value=\"08:00:00\" />\r\n    <!--<parameter name = \"closedCaption\" value\
        \ = \"false\"/>-->\r\n    <!--<parameter name = \"isVREnabledFor360video\"\
        \ value = \"true\"/>-->\r\n    <parameter name=\"liveBackOff\" value=\"00:00:20\"\
        \ />\r\n    <!--<parameter name = \"maxBitrateKbps\" value = \"3500\"/>-->\r\
        \n    <!--<parameter name = \"offsetExpectedVideoDuration\" value = \"00:15:00\"\
        />-->\r\n    <parameter name=\"retryOnVideoError\" value=\"0\" />\r\n    <!--<parameter\
        \ name = \"trackVideodataManifest\" value = \"true\"/>-->\r\n    <parameter\
        \ name=\"startingBitrateKbps\" value=\"600\" />\r\n    <!--<parameter name\
        \ = \"userAudioSelection\" value = \"false\"/>-->\r\n    <!--<parameter name\
        \ = \"videoAnalyticsEventFrequency\" value = \"00:00:20\"/>-->\r\n    <!--<parameter\
        \ name = \"iosInternalOverrides\" value =\"{ \\\"iPhone7,1=\"\"\\\": 3238279\
        \ }\"/>-->\r\n    <!--<parameter name = \"videoPlatformsPriority\" value=\"\
        HLS,dash,chromecast-v2\" />-->\r\n    <!--<parameter name = \"androidForceSurfaceView\"\
        \ value=\"false\" />-->\r\n  </video>\r\n  <videoData enabled=\"true\">\r\n\
        \    <parameter name=\"videoDataPath\" value=\"https://www.nflgamepass.com/api/en/content/v1/diva/{V.ID}\"\
        \ />\r\n    <parameter name=\"pollingInterval\" value=\"00:05:00\" />\r\n\
        \  </videoData>\r\n  <entitlementCheck encoded=\"false\" enabled=\"true\"\
        >\r\n    <parameter name=\"processingUrlCallPath\" value=\"https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/open\"\
        \ />\r\n    <parameter name=\"heartBeatCallPath\" value=\"https://www.nflgamepass.com/api/user/api/users/v1/videoentitlement/diva/heartbeat\"\
        \ />\r\n    <parameter name=\"userCookieName\" value=\"\" />\r\n    <!--to\
        \ insert the agreeded name -->\r\n    <parameter name=\"callback\" value=\"\
        \" />\r\n    <parameter name=\"heartbeatInterval\" value=\"00:03:00\" />\r\
        \n    <parameter name=\"secretTxt\" value=\"\" />\r\n    <parameter name=\"\
        other\" value=\"{Run.SessionID}|{Settings.cs1}|{Settings.cs2}|{Settings.cs3}|{Settings.cs4}|{Settings.cs5}\"\
        \ />\r\n  </entitlementCheck>\r\n  <tracking enabled=\"true\">\r\n    <items>\r\
        \n      <item>\r\n        <parameter name=\"type\" value=\"TagManager-html5\"\
        \ />\r\n        <parameter name=\"setting1\" value=\"GTM-MFDKV77\" />\r\n\
        \        <parameter name=\"setting2\" value=\"https://www.nflgamepass.com/api/diva/gtm/tracking_configuration_40.json\"\
        \ />\r\n      </item>\r\n    </items>\r\n  </tracking>\r\n</settings>\r\n\
        <!--DivaS:cB0BCUdR4J05OrmDHY94NApiEpo=-->"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nflgamepass.com/api/en/content/v1/diva/86696b55-9d15-4625-856c-d88a8cdb9f33
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<video>\r\n  <assetId>86696b55-9d15-4625-856c-d88a8cdb9f33</assetId>\r\
        \n  <videoId>86696b55-9d15-4625-856c-d88a8cdb9f33</videoId>\r\n  <alternateId>3246c820-59df-4013-8a66-96dcf9eb55e6</alternateId>\r\
        \n  <isPrivate>false</isPrivate>\r\n  <title>NFL Network</title>\r\n  <description><![CDATA[NFL\
        \ Network Channel]]></description>\r\n  <thumbnailUrl><![CDATA[]]></thumbnailUrl>\r\
        \n  <assetState>2</assetState>\r\n  <isMultistream>false</isMultistream>\r\
        \n  <events />\r\n  <videoSources>\r\n    <videoSource format=\"HLS\" name=\"\
        HLS\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"ConnectTv\"\
        \ name=\"ConnectTv\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\
        \n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=connecttv)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n    <videoSource format=\"ChromeCast\"\
        \ name=\"ChromeCast\" offset=\"0:00:00\">\r\n      <dvrType>limited</dvrType>\r\
        \n      <uri><![CDATA[https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=chromecast)]]></uri>\r\
        \n      <drm />\r\n    </videoSource>\r\n  </videoSources>\r\n  <duration\
        \ />\r\n  <trimIn />\r\n  <trimOut />\r\n  <timeCodeIn>20180101000100000</timeCodeIn>\r\
        \n  <audioTracks default=\"en-US\">\r\n    <audioTrack id=\"en-US\" lang=\"\
        en-US\" enabled=\"true\" displayName=\"English (US)\">English (US)</audioTrack>\r\
        \n  </audioTracks>\r\n  <preroll template=\"\" />\r\n  <postroll template=\"\
        \" />\r\n  <kind><![CDATA[Live]]></kind>\r\n  <category1><![CDATA[NTWL]]></category1>\r\
        \n  <customAttributes>\r\n    <attribute key=\"area\" value=\"video\" />\r\
        \n    <attribute key=\"section\" value=\"General\" />\r\n  </customAttributes>\r\
        \n  <lang>en-US</lang>\r\n  <wcmEntityid>3246c820-59df-4013-8a66-96dcf9eb55e6</wcmEntityid>\r\
        \n</video>"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Type": "1", "User": "", "VideoId": "86696b55-9d15-4625-856c-d88a8cdb9f33",
      "VideoSource": "https://livemain-i-video-nfl.akamaized.net/ch22/411370af-762b-4c2f-b03d-6a6d7aec6fb0/1c6b0ab0-961d-4eee-9333-16753330898c.ism/manifest(format=m3u8-aapl-v3,filter=hls)",
      "VideoKind": "Video", "AssetState": "3", "PlayerType": "HTML5", "other": "b7b4fff0-843c-496a-a438-a965114d2b78|eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1laWQiOiJhbGV4cXciLCJyb2xlIjoidXNlciIsImt0bSI6IjQ2NjEzMThkLTMzYTUtNGFlMC1hYTc5LWNjMjk3YmViN2VmMCIsInB0ayI6IntcImFjY2Vzc190b2tlblwiOlwiZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKMWMyVnlibUZ0WlNJNkltRnNaWGh4ZHlJc0ltUmxkbWxqWlVsa0lqcHVkV3hzTENKamJHbGxiblJKWkNJNklraExaMGhCVHpOWVdFOWtRMEphU25WaWQwUkthMDFVYW5CM1ExZHhWMFkxSWl3aVlXUkpaQ0k2SW1RM1lXTTJPREptTXpoaU9HTTFZbVptWTJKbFpqaGtNMlF6TWpNME5tVXlOR1ppTnpjek1XTTFZVFEyTlRCa01tRmtNR1l3[...]
[...]
